<template>
  <div className="animated">
    <b-card>
      <b-card-header> Agregar curso {{ course.id }} </b-card-header>
      <b-card-body>
        <b-row>
          <b-col cols="12" lg="9">
            <b-tabs>
              <b-tab title="GENERAL" active>
                <General course-id="" />
              </b-tab>
            </b-tabs>
          </b-col>
        </b-row>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import vSelect from "vue-select";
import { DatePicker } from "v-calendar";
import MaskedInput from "vue-text-mask";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import AddUnit from "../../components/course/Unit";
import AddClass from "../../components/course/ModalClass";
import General from "../../components/course/General";
import AddPrice from "../../components/course/Price";
import AddDates from "../../components/course/Dates";
import AddMultimedia from "../../components/course/Multimedia";
import course from "../../services/course";
import FileUpload from "vue-upload-component";

const status_options = [
  { value: "draft", label: "Borrador" },
  { value: "public", label: "Publicado" }
];
const highlight_options = [
  { value: "borrador", label: "Borrador" },
  { value: "publicado", label: "Publicado" }
];

export default {
  name: "AddCourse",
  components: {
    AddDates,
    AddPrice,
    General,
    AddClass,
    AddUnit,
    AddMultimedia,
    MaskedInput,
    vSelect,
    "v-date-picker": DatePicker
  },
  data() {
    return {
      submitted: false,
      course: {},
      dates: [],
      units: [],
      files: [],
      clases: [
        {
          content: {
            video: "",
            doc: ""
          }
        }
      ],
      contents: [],
      status_options: status_options,
      highlight_options: highlight_options,
      units_options: [
        {
          value: "",
          label: ""
        }
      ],
      editor: ClassicEditor,
      editorData: "",
      editorConfig: {}
    };
  },
  computed: {},
  methods: {
    async saveCourse() {
      try {
        const saveCourse = await course.addCourse(this.course);
        console.log(saveCourse);
        this.course.id = saveCourse.id;
        this.$router.push("/course/" + saveCourse.id);
      } catch (e) {
        console.log(e);
        console.log("error");
      }
    }
  }
};
</script>

<style scoped></style>
