<template>
  <div className="animated">
    <b-card>
      <b-card-header>
        Cursos
        <div class="card-header-actions">
          <router-link to="course/add" class="btn btn-primary">
            AGREGAR CURSO
          </router-link>
        </div>
      </b-card-header>
      <v-client-table
        id="dataTable"
        ref="cursos"
        key="index"
        :columns="columns"
        :data="courses"
        :options="options"
        :theme="theme"
      >
        <div slot="actions" slot-scope="props" class="actions">
          <router-link
            :to="'course/' + props.row.id"
            class="btn btn-sm btn-success mr-2"
          >
            <i class="fa fa-eye" />
          </router-link>
          <router-link
            :to="'course/' + props.row.id"
            class="btn btn-sm btn-warning mr-2"
          >
            <i class="fa fa-pencil" />
          </router-link>
          <!--<a href="#" class="btn btn-sm btn-info mr-2">
                        <i class="fa fa-copy"></i>
                    </a>-->
          <button
            class="btn btn-sm btn-danger"
            @click="showConfirmation(props.row.id, props.index)"
          >
            <i class="fa fa-trash" />
          </button>
        </div>
      </v-client-table>

      <b-alert
        v-model="confirmation"
        class="position-fixed fixed-bottom m-0 rounded-0"
        style="z-index: 2000; max-width: 400px; left:60px; bottom: 60px"
        variant="success"
        dismissible
      >
        <b-container>
          El curso fue eliminado
          <b-link @click="stopFunction()">
            Deshacer
          </b-link>
        </b-container>
      </b-alert>
    </b-card>
  </div>
</template>

<script>
import Vue from "vue";
import { ClientTable, Event } from "vue-tables-2";
//import {mapState} from 'vuex';
import course from "../../services/course";
import seller from "../../services/seller";
import user from "../../services/user";
import category from "../../services/category";

let timeout;

Vue.use(ClientTable);

export default {
  name: "Courses",
  components: {
    ClientTable,
    Event
  },
  data() {
    return {
      columns: ["id", "title", "mode", "updated_at", "actions"],
      confirmation: false,
      confirmation_id: "",
      confirmation_index: "",
      courses: [],
      options: {
        headings: {
          id: "#",
          title: "Curso",
          mode: "Modalidad",
          updated_at: "última edición",
          actions: "Acciones"
        },
        sortable: ["title", "mode", "id"],
        filterable: ["title", "mode", "id"],
        sortIcon: {
          base: "fa",
          up: "fa-sort-asc",
          down: "fa-sort-desc",
          is: "fa-sort"
        },
        pagination: {
          chunk: 5,
          edge: false,
          nav: "scroll"
        }
      },
      useVuex: false,
      theme: "bootstrap4",
      template: "default"
    };
  },

  async mounted() {
    const courses = await course.getCourses();
    /*const withCatInfo = courses.map(function(e) {
      if (e.category) {
        e.category = this.getCatInfo(e.category_id);
      }
    });*/
    this.courses = courses;
  },
  methods: {
    deleteRow(id) {
      try {
        course.delCourse(id);
      } catch (e) {
        this.$toaster.error(e);
      }
    },
    async delCourse(id) {
      await course.delCourse(id);
    },
    async showConfirmation(courseId, index) {
      try {
        await course.delCourse(courseId);
        this.courses.splice(index, 1);
        this.$toaster.success("Curso eliminado");
      } catch (e) {
        this.$toaster.error(e);
      }
    },
    /*showConfirmation(id, index) {
      this.courses.splice(index - 1, 1);
      this.confirmation = true;
      const _this = this;
      timeout = setTimeout(function() {
        try {
          this.delCourse(id);
          _this.confirmation = false;
        } catch (e) {
          console.log(e);
          _this.$toaster.error(e);
        }
      }, 5000);
    },*/
    stopFunction() {
      clearTimeout(timeout);
      this.confirmation = false;
      let _this = this;
      let table = _this.$refs.cursos;
      table.refresh();
    },
    async getCatInfo(id) {
      const category = await category.getCategory(id);
      return category.name;
    }
  }
};
</script>

<style lang="scss">
#dataTable {
  width: 95%;
  margin: 0 auto;

  .VuePagination {
    text-align: center;
    justify-content: center;
  }

  .vue-title {
    text-align: center;
    margin-bottom: 10px;
  }

  .VueTables__search-field {
    display: flex;
  }

  .VueTables__search-field input {
    margin-left: 0.25rem;
  }

  .VueTables__limit-field {
    display: flex;
  }

  .VueTables__limit-field select {
    margin-left: 0.25rem !important;
  }

  .VueTables__table th {
    text-align: center;
  }

  .VueTables__child-row-toggler {
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: block;
    margin: auto;
    text-align: center;
  }

  .VueTables__child-row-toggler--closed::before {
    content: "+";
  }

  .VueTables__child-row-toggler--open::before {
    content: "-";
  }
}
</style>
