// Custom styles for this template
.navbar {
  .form-inline {
    margin-top: 1px;

    .input-group {
      float: none;
    }

    .btn {
      vertical-align: top;
      border: 0;
    }
    .form-control {
      float: none !important;
      color: $navbar-color;
      vertical-align: top;
      background-color: darken($gray-800, 10%);
      border-color: darken($gray-800, 10%);
      margin-left: -2px;

      &::placeholder {
        color: $navbar-color;
      }
    }
    .form-control::-webkit-input-placeholder { color: $navbar-color; }
    .form-control:-moz-placeholder { color: $navbar-color; }
    .form-control::-moz-placeholder { color: $navbar-color; }
    .form-control:-ms-input-placeholder { color: $navbar-color; }

    .input-group-btn,
    .input-group-undefined {
      height: 40px;
      background-color: darken($gray-800, 10%);
      padding: 5px;
      .btn {
        height: 30px;
        color: #fff;
        background-color: darken($gray-800, 10%);

        &.dropdown-toggle {
          background-color: $gray-600;
          padding: 0 1rem;
        }
      }
    }
  }

  .avatar {
    img {
      width: 34px;
      border-radius: 0 !important;
    }
  }
}

.aside-menu .nav.nav-tabs {
  background-color: $gray-200;
}

body:not(.sidebar-minimized) {

  .sidebar {
    .nav {
      .nav-item {
        .nav-link {
          i {
            width: 45px;
            height: 45px;
            margin-top: -($sidebar-nav-link-padding-y + 0.25rem) !important;
            margin-right: ($sidebar-nav-link-padding-x / 2);
            margin-bottom: -$sidebar-nav-link-padding-y;
            margin-left: -$sidebar-nav-link-padding-x;
            line-height: 45px;
            color: $sidebar-nav-link-icon-color;
            border-right: 1px solid $border-color;
          }
        }
      }
    }
  }
}

// Here you can add other styles
h1.main-title{
  margin-bottom: 30px;
}
.card-header {
  @extend h1;
  background: none;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.tab-content{
  border: none;
}
.nav-tabs .nav-link {
  border-top:none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #dbdee0;
}
.nav-tabs .nav-link.active {
  border-bottom: 3px solid $primary;
}

.form-control {
  height: 42px;
  border-color: #9fabb8;
}

.app-header .navbar-brand, .app-header {
  background: #0C658E;
}
.tab-content .tab-pane {
  padding-right: 0;
  padding-left: 0;
}

.units {
  &__header {
    margin: 0;
    &:before {
      position: absolute;
      right: 30px;
      top: 15px;
      font-size: 18px;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f078";
    }
  }
  &__title {
    font-size: 18px;
  }
}
.clases {
  &__header {
    margin: 0;
    &:before {
      position: absolute;
      right: 30px;
      top: 15px;
      font-size: 18px;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f078";
    }
  }
  &__title {
    font-size: 18px;
  }
}
.breadcrumb {
  color: white;
  border: none;
  a {
    @extend .badge;
    background: $primary;
    color: white;

  }
}
.app-footer {
  background: $gray-800;
  color: $gray-300;
  border: none;
}
.form-group{
  margin-bottom: 1.5rem;
}

.vs__dropdown-toggle {
  height: 42px;
}
.image-upload {
  border: none;
  min-height: 200px;
  background: url("/img/loading.gif") no-repeat center center $gray-300;
}
