// Overrides CoreUI & Bootstrap Variables

//
// Color system
//

$white:                           #fff;
$gray-100:                        #f9f9f9;
$gray-200:                        #e9ebec;
$gray-300:                        #dbdee0;
$gray-400:                        #869fac;
$gray-500:                        #678898;
$gray-600:                        #9fabb8;
$gray-700:                        #3e515b;
$gray-800:                        #34383c;
$gray-900:                        #151b1e;
$black:                           #000;

$blue:                            #0C658E;
$indigo:                          #6610f2;
$purple:                          #6f42c1;
$pink:                            #e83e8c;
$red:                             #ff5454;
$orange:                          #fabb3d;
$yellow:                          #ffc107;
$green:                           #bdea74;
$teal:                            #20c997;
$cyan:                            #67c2ef;

// Import default variables
@import "../../../node_modules/@coreui/coreui-pro/scss/variables";

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions:              true;
$enable-rounded:                  false;

// Body
//
// Settings for the `<body>` element.

$body-bg:                         $gray-800;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:                  0.875rem;

// Breadcrumbs

$breadcrumb-padding-y:            .75rem;
$breadcrumb-padding-x:            2rem;
$breadcrumb-bg:                   $gray-800;
$breadcrumb-margin-bottom:        1.5rem;
$breadcrumb-divider-color:        $gray-600;
$breadcrumb-active-color:         $warning;
$breadcrumb-color:                white;
  // Cards

$card-border-color:               $gray-200;
$card-cap-bg:                     $gray-100;

// Dropdowns

$dropdown-padding-y:              0;
$dropdown-border-color:           $gray-200;
$dropdown-divider-bg:             $gray-100;

// Buttons

$btn-secondary-border:            $gray-300;

// Progress bars

$progress-bg:                     $gray-100;

// Tables

$table-bg-accent:                 $gray-100;
$table-bg-hover:                  $gray-100;

// Forms

$input-group-addon-bg:            $gray-100;
$input-border-color:              $gray-200;
$input-group-addon-border-color:  $gray-200;

// CoreUI overrides

$border-color:                      $gray-900;

// Navbar

$navbar-height:                     50px;
$navbar-bg:                         $gray-800;
$navbar-border: (
  bottom: (
    size:                           1px,
    style:                          solid,
    color:                          $gray-800
  )
);
$navbar-brand-width:                220px;
$navbar-brand-bg:                   darken($gray-800,10%);
$navbar-brand-logo-size:            90px auto;
$navbar-brand-border: (
  bottom: (
    size:                           1px,
    style:                          solid,
    color:                          darken($gray-800,10%)
  )
);
$navbar-brand-minimized-bg:           $navbar-brand-bg;
$navbar-brand-minimized-border:       $navbar-brand-border;

$navbar-color:                      $gray-300;
$navbar-hover-color:                darken($navbar-color, 10%);
$navbar-active-color:               darken($navbar-color, 20%);
$navbar-disabled-color:             lighter($navbar-color, 20%);

// Sidebar

$sidebar-width:                     220px;
$sidebar-color:                     $gray-100;
$sidebar-bg:                        $gray-900;
$sidebar-borders: (
  right: (
    size:                           1px,
    style:                          solid,
    color:                          $border-color
  )
);

// Sidebar Navigation

$sidebar-nav-color:                 $gray-300;
$sidebar-nav-title-padding-y:       .95rem;
$sidebar-nav-title-color:           $text-muted;
$sidebar-nav-link-color:            $gray-300;
$sidebar-nav-link-borders: (
  bottom: (
    size:                           1px,
    style:                          solid,
    color:                          $border-color
  )
);
$sidebar-nav-link-hover-color:      white;
$sidebar-nav-link-hover-bg:         $dark;
$sidebar-nav-link-hover-icon-color: $primary!important;

$sidebar-nav-link-active-color:     white;
$sidebar-nav-link-active-bg:        darken($sidebar-bg, 5%);
$sidebar-nav-link-active-icon-color:white;

$sidebar-nav-dropdown-color:        $gray-100;
$sidebar-nav-dropdown-bg:           darken($sidebar-bg, 3%);

$sidebar-minimizer-bg:              transparent;
$sidebar-minimizer-borders: (
  top: (
    size:                           1px,
    style:                          solid,
    color:                          $border-color
  )
);

$sidebar-minimizer-hover-bg:        $gray-300;
