// Custom variables
@import "variables";

// Import styles with default layout.
@import "../../../node_modules/@coreui/coreui-pro/scss/coreui";

// If you want to add something do it here
@import "custom";

.v-toaster {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 10000;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px
}

.v-toaster .v-toast {
  @extend .alert;
  display: block;
  transition: all .3s ease;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.v-toaster .v-toast.v-toast-enter, .v-toaster .v-toast.v-toast-leave-to {
  -webkit-transform: translate(100%);
  -ms-transform: translate(100%);
  transform: translate(100%)
}

.v-toaster .v-toast.v-toast-success {
  //background: rgba(50, 182, 67, .9);
  //border-color: #32b643
  @extend .alert-success;
}

.v-toaster .v-toast.v-toast-warning {
  //background: rgba(255, 183, 0, .9);
  //border-color: #ffb700
  @extend .alert-warning;
}

.v-toaster .v-toast.v-toast-info {
  //background: rgba(91, 192, 222, .9);
  //border-color: #5bc0de
  @extend .alert-info;
}

.v-toaster .v-toast.v-toast-error {
  //background: rgba(232, 86, 0, .9);
  //border-color: #e85600
  @extend .alert-danger;
}

.v-toaster .v-toast.v-toast-primary {
  //background: rgba(66, 139, 202, .9);
  //border-color: #428bca
  @extend .alert-primary;
}

.v-toaster .v-toast .v-toast-btn-clear {
  background: transparent;
  border: 0;
  color: currentColor;
  opacity: .45;
  text-decoration: none;
  float: right;
  cursor: pointer
}
.v-toaster .v-toast .v-toast-btn-clear:before {
  content: "\2715"
}

@media (max-width: 300px) {
  .v-toaster {
    width: 100%
  }
}
.vs__open-indicator {
  position: absolute;
  right: 20px;
  bottom: 14px;
}
