<template>
  <div className="animated">
    <b-card>
      <b-card-header>
        Agregar Categoría
      </b-card-header>
      <b-card-body>
        <b-form novalidate @submit.prevent="handleSubmit">
          <b-row>
            <b-col cols="12" lg="9">
              <b-form-group
                id="group-category-name"
                label="Nombre"
                label-for="category-name"
              >
                <b-form-input
                  id="category-name"
                  v-model="category.name"
                  v-validate="'required'"
                  name="category-name"
                  data-vv-name="Nombre"
                  :class="{ 'is-invalid': errors.has('Nombre') }"
                  aria-describedby="input-1-live-feedback"
                />
                <b-form-invalid-feedback v-if="errors.has('Nombre')">
                  {{ errors.first("Nombre") }}
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                id="group-category-description"
                label="Descripción"
                label-for="category-description"
              >
                <b-form-textarea
                  id="category-description"
                  v-model="category.description"
                  v-validate="'required'"
                  name="category-description"
                  data-vv-name="Descripción"
                  :class="{ 'is-invalid': errors.has('Descripción') }"
                />
                <b-form-invalid-feedback v-if="errors.has('Descripción')">
                  {{ errors.first("Descripción") }}
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                id="group-category-parent"
                label="Relación"
                label-for="category-parent"
              >
                <v-select
                  id="category-parent"
                  v-model="category.parent"
                  v-validate=""
                  name="category-parent"
                  multiple
                  :options="category_options"
                  :reduce="val => val.value"
                  placeholder="Seleccionar una opción"
                  data-vv-name="Relación"
                  :class="{ 'is-invalid': errors.has('Padre') }"
                />
                <b-form-invalid-feedback v-if="errors.has('Padre')">
                  {{ errors.first("Padre") }}
                </b-form-invalid-feedback>
              </b-form-group>

              <b-form-group
                id="group-category-status"
                label="Estado"
                label-for="category-status"
              >
                <v-select
                  id="category-status"
                  v-model="category.status"
                  v-validate=""
                  name="category-status"
                  :options="status_options"
                  :reduce="val => val.value"
                  placeholder="Seleccionar una opción"
                  data-vv-name="Estado"
                  :class="{ 'is-invalid': errors.has('Estado') }"
                />
                <b-form-invalid-feedback v-if="errors.has('Estado')">
                  {{ errors.first("Estado") }}
                </b-form-invalid-feedback>
              </b-form-group>

              <fileUpload @files="getFile" />
              {{ category.image }}
              <b-btn
                variant="primary"
                class="mt-4"
                size="lg"
                @click="handleSubmit()"
              >
                GUARDAR
              </b-btn>
            </b-col>
          </b-row>
        </b-form>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import category from "../../services/category";
import file from "../../services/file";
import vSelect from "vue-select";
import fileUpload from "../../components/fileUpload";
const status_options = [
  { value: "published", label: "Publicada" },
  { value: "draft", label: "Borrador" }
];

export default {
  name: "AddCategory",
  components: {
    vSelect,
    fileUpload
  },
  data() {
    return {
      submitted: false,
      edit: false,
      category: {},
      files: "",
      category_options: [],
      status_options: status_options
    };
  },
  computed: {},
  async mounted() {
    // RELACIÓN DE CURSOS //
    let categories = await category.getCategories();
    for (let i = 0; i < categories.length; i++) {
      this.category_options.push({
        value: categories[i].id,
        label: "#" + categories[i].id + " - " + categories[i].title
      });
    }

    let categoryId = this.$route.params.id;
    if (categoryId) {
      try {
        this.category = await category.getCategory(categoryId);
        this.edit = true;
        if (this.category.image) {
          this.category.image_url =
            "http://cace-api.brianardiles.xyz/api/files/view/" +
            this.category.image;
        }
      } catch (e) {
        this.$toaster.error(e);
      }
    }
  },
  methods: {
    handleSubmit() {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.loading = true;
          if (this.edit == true) {
            this.edit();
          } else {
            this.save();
          }
        } else {
          this.$toaster.error("Completá todos los campos");
        }
      });
    },
    getFile(value) {
      this.category.image = value.name;
    },
    async save() {
      try {
        const saveCategory = await category.addCategory(this.category);
        console.log(saveCategory);
        this.$toaster.success("Categoría guardada");
        this.$router.push("/categories");
      } catch (e) {
        console.log(e);
        console.log("error");
        this.$toaster.error(e);
      }
    }
  }
};
</script>

<style scoped></style>
