<template>
  <div class="add-dates">
    <b-col xl="8">
      <b-tabs v-if="datable">
        <!-- Render Tabs, supply a unique `key` to each tab -->
        <b-tab
          v-for="(date, index) in dates"
          :key="date.id"
          v-model="tabIndex"
          :title="'Fecha ' + index"
        >
          <input type="hidden" name="course_id" :value="date.course_id" />
          <b-form-group
            id="group-start"
            label="Comienzo"
            label-for="date-start_date"
          >
            <b-form-input
              id="start_date"
              v-model="date.start_date"
              v-validate=""
              name="start_date"
              type="date"
              data-vv-name="Comienzo"
              :class="{ 'is-invalid': errors.has('Comienzo') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-invalid-feedback v-if="errors.has('Comienzo')">
              {{ errors.first("Comienzo") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            id="group-date-days"
            label="Días y horarios"
            label-for="date-days"
          >
            <b-form-input
              id="date-days"
              v-model="date.days"
              v-validate=""
              name="date-days"
              data-vv-name="Días y horarios"
              :class="{ 'is-invalid': errors.has('Días y horarios') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-invalid-feedback v-if="errors.has('Días y horarios')">
              {{ errors.first("Días y horarios") }}
            </b-form-invalid-feedback>
          </b-form-group>

          <b-row>
            <b-col md="6">
              <b-form-group
                id="group-date-place"
                label="Sede"
                label-for="date-place"
              >
                <b-form-select
                  v-model="date.place_id"
                  v-validate="'required'"
                  :reduce="op => op.value"
                  :options="place_options"
                  placeholder="Seleccionar una opción"
                  :class="{ 'is-invalid': errors.has('Sede') }"
                />

                <b-form-invalid-feedback v-if="errors.has('Sede')">
                  {{ errors.first("Sede") }}
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col md="6">
              <b-form-group
                id="group-date-price"
                label="Precio"
                label-for="date-price"
              >
                <b-input-group size="lg" prepend="$">
                  <b-form-input
                    id="date-price"
                    v-model="date.price"
                    v-validate="'required'"
                    name="date-price"
                    type="number"
                    data-vv-name="Precio"
                    :class="{ 'is-invalid': errors.has('Precio') }"
                    aria-describedby="input-1-live-feedback"
                  />
                </b-input-group>
                <b-form-invalid-feedback v-if="errors.has('Precio')">
                  {{ errors.first("Precio") }}
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col md="6">
              <b-form-group
                id="group-date-quota"
                label="Cupos"
                label-for="date-quota"
              >
                <b-form-input
                  id="date-quota"
                  v-model="date.slots"
                  v-validate=""
                  name="date-quota"
                  type="number"
                  data-vv-name="Cupos"
                  :class="{ 'is-invalid': errors.has('Cupos') }"
                  aria-describedby="input-1-live-feedback"
                />
                <b-form-invalid-feedback v-if="errors.has('Cupos')">
                  {{ errors.first("Cupos") }}
                </b-form-invalid-feedback>
              </b-form-group>
            </b-col>
          </b-row>
          <b-btn
            v-if="date.id"
            variant="primary"
            class="mt-4"
            size="lg"
            @click="handleSubmit('edit', index)"
          >
            EDITAR
          </b-btn>

          <b-btn
            v-else
            variant="primary"
            class="mt-4"
            size="lg"
            @click="handleSubmit('save', index)"
          >
            GUARDAR
          </b-btn>

          <b-button
            size="sm"
            variant="danger"
            class="float-right mt-4"
            @click="closeTab(index, date.id)"
          >
            Eliminar fecha
          </b-button>
        </b-tab>
        <!-- New Tab Button (Using tabs-end slot) -->
        <template v-slot:tabs-end>
          <b-nav-item href="#" @click.prevent="newTab(index)">
            <b>+</b>
          </b-nav-item>
        </template>
        <!-- Render this if no tabs -->
        <template v-slot:empty>
          <div class="text-center text-muted">
            No hay fechas<br />
            Agregá una usando el botón <b>+</b> de arriba.
          </div>
        </template>
      </b-tabs>

      <div v-else>
        <b-row v-for="(date, index) in dates" :key="date.id">
          <input v-model="date.id" type="hidden" />
          <b-col md="6">
            <b-form-group
              id="group-date-price"
              label="Precio"
              label-for="date-price"
            >
              <b-input-group size="lg" prepend="$">
                <b-form-input
                  id="date-price"
                  v-model="date.price"
                  v-validate="'required'"
                  name="date-price"
                  type="number"
                  data-vv-name="Precio"
                  :class="{ 'is-invalid': errors.has('Precio') }"
                  aria-describedby="input-1-live-feedback"
                />
              </b-input-group>
              <b-form-invalid-feedback v-if="errors.has('Precio')">
                {{ errors.first("Precio") }}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-btn
              v-if="date.id"
              variant="primary"
              class="mt-4"
              size="lg"
              @click="handleSubmit('edit')"
            >
              EDITAR
            </b-btn>

            <b-btn
              v-else
              variant="primary"
              class="mt-4"
              size="lg"
              @click="handleSubmit('save')"
            >
              GUARDAR
            </b-btn>
          </b-col>
        </b-row>
      </div>
    </b-col>
  </div>
</template>

<script>
import vSelect from "vue-select";
import course from "../../services/course";
import { setupCalendar, DatePicker } from "v-calendar";
import "v-calendar/lib/v-calendar.min.css";
import date from "../../services/date";
import place from "../../services/place";
import moment from "moment";

const today = new Date();

setupCalendar({
  firstDayOfWeek: 2 // Monday
});

export default {
  name: "AddDates",
  components: {
    vSelect,
    "v-date-picker": DatePicker
  },
  props: ["courseId", "datable"],
  data() {
    return {
      tabIndex: 0,
      tabCounter: 0,
      dates: [],
      place_options: [],
      savedData: false
    };
  },
  watch: {
    savedData: function(val, oldval) {
      if (val !== true) {
        this.$emit("setIndex", 2);
      } else {
        this.$emit("setIndex", 2);
      }
    }
  },
  async mounted() {
    this.dates.course_id = this.courseId;

    let getPlace = await place.getPlaces();

    for (let i = 0; i < getPlace.length; i++) {
      this.place_options.push({
        value: getPlace[i].id,
        text: "#" + getPlace[i].id + " - " + getPlace[i].name
      });
    }
    this.dates = await date.getDates(this.courseId);
  },
  methods: {
    closeTab(x, id) {
      try {
        date.delDate(id);
        for (let i = 0; i < this.dates.length; i++) {
          if (i === x) {
            this.dates.splice(i, 1);
          }
        }
        this.$toaster.success("Fecha eliminada");
      } catch (e) {
        this.$toaster.error(e);
      }
    },
    newTab() {
      this.dates.push({
        course_id: this.$route.params.id,
        start_date: "",
        days: "",
        place_id: "",
        price: "",
        slots: ""
      });
    },
    handleSubmit(action, index) {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        this.loading = true;
        if (valid) {
          this.handleData(index, action);
        }
      });
    },
    handleData(i, action) {
      let dataToSave = [];
      let dateId = "";

      if (this.datable) {
        dataToSave.push({
          course_id: this.courseId,
          days: this.dates[i].days,
          place_id: this.dates[i].place_id,
          price: this.dates[i].price,
          slots: this.dates[i].slots,
          start_date: this.dates[i].start_date
        });
      } else {
        dataToSave.push({
          course_id: this.courseId,
          price: this.dates[0].price
        });
      }

      if (action === "save") {
        this.save(dataToSave[0]);
      } else if (action === "edit") {
        if (this.datable) {
          dateId = this.dates[i].id;
        } else {
          dateId = this.dates[0].id;
        }
        this.edit(dataToSave[0], dateId);
      }
    },
    async save(data) {
      try {
        await date.addDate(data);
        this.savedData = true;
        this.$toaster.success("Fecha guardada");
      } catch (e) {
        this.$toaster.error("ERROR: Los datos no se guardaron");
      }
    },
    async edit(data, dateId) {
      try {
        await date.editDate(dateId, data);
        this.savedData = true;
        this.$toaster.success("Fecha <b>editada</b>");
      } catch (e) {
        this.$toaster.error("ERROR: Los datos no se guardaron");
      }
    },
    async getCourseDate(courseId) {
      try {
        const getDates = await date.getDates(courseId);
        return getDates;
      } catch (e) {
        this.$toaster.error("ERROR: No hay fechas");
      }
    }
  }
};
</script>

<style scoped></style>
