<template>
  <div class="add-general">
    <b-row class="justify-content-between">
      <b-col xl="8">
        <h3 class="mt-5 mb-3">
          General
        </h3>
        <hr>

        <b-form-group
          id="group-course-title"
          label="Título"
          label-for="course-title"
        >
          <b-form-input
            id="course-title"
            v-model="course.title"
            v-validate="'required'"
            name="course-title"
            size="xl"
            data-vv-name="Título"
            :class="{ 'is-invalid': errors.has('Título') }"
            aria-describedby="input-1-live-feedback"
          />
          <b-form-invalid-feedback v-if="errors.has('Título')">
            {{ errors.first("Título") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          label="Slug"
        >
          <b-input
            type="text"
            disabled
            v-if="title"
            :value="'/'+course.id+'/'+course.mode+'/'+sanitizeTitle(course.title)"
          />
        </b-form-group>

        <b-form-group
          id="group-course-subtitle"
          label="Subtítulo"
          label-for="course-subtitle"
        >
          <b-form-input
            id="course-subtitle"
            v-model="course.subtitle"
            v-validate="''"
            name="course-subtitle"
            data-vv-name="Subtítulo"
            :class="{ 'is-invalid': errors.has('Subtítulo') }"
            aria-describedby="input-1-live-feedback"
          />
          <b-form-invalid-feedback v-if="errors.has('Subtítulo')">
            {{ errors.first("Subtítulo") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <!--<b-form-group
          id="group-course-slug"
          label="Url"
          label-for="course-slug"
        >
          <b-form-input
            id="course-slug"
            :value="sanitizeTitle(course.title)"
            v-model="course.slug"
            v-validate="{
              required: true,
              regex: /^[a-z0-9-]+$/
            }"
            name="course-slug"
            data-vv-name="Url"
            :class="{ 'is-invalid': errors.has('Url') }"
            aria-describedby="input-1-live-feedback"
          />

          <b-form-invalid-feedback v-if="errors.has('Url')">
            {{ errors.first("Url") }}
          </b-form-invalid-feedback>
        </b-form-group> -->

        <b-form-group
          id="group-course-description"
          label="Descripción"
          label-for="course-description"
        >
          <b-form-textarea
            id="course-program_description"
            v-model="course.description"
            name="course-program_description"
          />
          <b-form-invalid-feedback v-if="errors.has('Descripción')">
            {{ errors.first("Descripción") }}
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="group-course-duration"
          label="Duración"
          label-for="course-duration"
        >
          <b-form-input
            id="course-duration"
            v-model="course.duration"
            v-validate="''"
            name="course-duration"
            data-vv-name="Duración"
            :class="{ 'is-invalid': errors.has('Duración') }"
            aria-describedby="input-1-live-feedback"
          />
          <b-form-invalid-feedback v-if="errors.has('Duración')">
            {{ errors.first("Duración") }}
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="group-course-days"
          label="Días de cursada"
          label-for="course-days"
          description="Dejar en blanco si el curso tiene más de una fecha"
        >
          <b-form-input
            id="course-days"
            v-model="course.days"
            v-validate="''"
            name="course-days"
            data-vv-name="Días"
            :class="{ 'is-invalid': errors.has('Días') }"
            aria-describedby="input-1-live-feedback"
          />
          <b-form-invalid-feedback v-if="errors.has('Días')">
            {{ errors.first("Días") }}
          </b-form-invalid-feedback>
        </b-form-group>
        <b-row>
          <b-col lg="6">
            <b-form-group
              id="group-course-modality"
              label="Modalidad"
              label-for="course-modality"
            >
              <v-select
                id="course-modality"
                v-model="course.mode"
                name="course-modality"
                placeholder="Selecciona una opcion"
                :options="modality_options"
                :reduce="val => val.value"
              />
              <b-form-input
                id="course-modality-v"
                v-model="course.mode"
                v-validate="'required'"
                class="d-none"
                name="course-modality-v"
                data-vv-name="Modalidad"
                :class="{ 'is-invalid': errors.has('Modalidad') }"
              />
              <b-form-invalid-feedback v-if="errors.has('Modalidad')">
                {{ errors.first("Modalidad") }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col
            co
            ls="12"
            md="6"
          >
            <b-form-group
              id="group-course-category"
              label="Categoría"
              label-for="course-category"
            >
              <v-select
                id="course-category"
                v-model="course.category_id"
                name="course-category"
                multiple
                :reduce="val => val.value"
                :options="category_options"
                placeholder="Seleccionar una opción"
              />
              <b-form-invalid-feedback v-if="errors.has('Categoría')">
                {{ errors.first("Categoría") }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>

        <b-form-group
          id="group-course-requirements"
          label="Requisitos"
          label-for="course-requirements"
        >
          <b-form-input
            id="course-requirements"
            v-model="course.requirements"
            v-validate="'required'"
            name="course-requirements"
            size="xl"
            data-vv-name="Requisitos"
            :class="{ 'is-invalid': errors.has('Requisitos') }"
            aria-describedby="input-1-live-feedback"
          />
          <b-form-invalid-feedback v-if="errors.has('Requisitos')">
            {{ errors.first("Requisitos") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="group-course-certification_text"
          label="Certificación"
          label-for="course-certification_text"
        >
          <ckeditor
            id="course-certification_text"
            v-model="course.certification_text"
            :editor="editor"
            :config="editorConfig"
            name="course-certification_text"
          />
          <b-form-input
            id="course-certification_text-v"
            v-model="course.includes"
            v-validate="''"
            class="d-none"
            name="course-certification_text-v"
            data-vv-name="Texto certificación"
            :class="{ 'is-invalid': errors.has('Texto certificación') }"
            aria-describedby="input-1-live-feedback"
          />
          <b-form-invalid-feedback v-if="errors.has('Texto certificación')">
            {{ errors.first("Texto certificación") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="group-course-certifications"
          label="Certificaciones"
          label-for="course-certifications"
        >
          <v-select
            id="course-certifications"
            v-model="course.certification"
            v-validate="''"
            name="course-certifications"
            multiple
            :options="certifications_options"
            :reduce="val => val.value"
            placeholder="Seleccionar una opción"
            data-vv-name="Certificaciones"
            :class="{ 'is-invalid': errors.has('Certificaciones') }"
          />
          <b-form-invalid-feedback v-if="errors.has('Certificaciones')">
            {{ errors.first("Certificaciones") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="group-course-includes"
          label="Incluye"
          label-for="course-includes"
          description="Lista de incluidos en el curso"
        >
          <ckeditor
            id="course-includes"
            v-model="course.includes"
            v-validate="''"
            :editor="editor"
            :config="editorConfig"
            name="course-includes"
            :class="{ 'is-invalid': errors.has('Incluye') }"
          />

          <b-form-input
            id="course-includes-v"
            v-model="course.includes"
            v-validate="'required'"
            <b-form-input
            class="d-none"
            name="course-includes-v"
            data-vv-name="Incluye"
            :class="{ 'is-invalid': errors.has('Incluye') }"
            aria-describedby="input-1-live-feedback"
          />

          <b-form-invalid-feedback v-if="errors.has('Incluye')">
            {{ errors.first("Incluye") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <h3 class="mt-5 mb-3">
          Presentación
        </h3>
        <hr>

        <b-form-group
          id="group-course-trailer"
          label="Trailer"
          label-for="course-trailer"
          description="Link al video de Vimeo"
        >
          <b-form-input
            id="course-trailer"
            v-model="course.trailer"
            v-validate=""
            name="course-trailer"
            data-vv-name="Trailer"
            :class="{ 'is-invalid': errors.has('Trailer') }"
            aria-describedby="input-1-live-feedback"
          />
          <b-form-invalid-feedback v-if="errors.has('Trailer')">
            {{ errors.first("Trailer") }}
          </b-form-invalid-feedback>
        </b-form-group>
        <b-form-group
          id="group-featured_image"
          label="Imagen destacada"
          label-for="course-featured_image"
        >
          <b-img
            v-if="course.featured_image"
            thumbnail
            fluid
            :src="$imageUrl + course.featured_image"
            width="200"
            class="mb-3 image-upload"
          />

          <FileUpload
            :scope="'featured_image'"
            :access="'public'"
            @files="getFile"
          />

          <b-form-invalid-feedback v-if="errors.has('Imagen destacada')">
            {{ errors.first("Programa") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="group-course-gallery"
          label="Galería"
          label-for="course-gallery"
        >
          <v-select
            id="course-gallery"
            v-model="course.galery"
            v-validate="''"
            name="course-gallery"
            :reduce="val => val.value"
            multiple
            :options="gallery_options"
            placeholder="Seleccionar una opción"
            data-vv-name="Galería"
            :class="{ 'is-invalid': errors.has('Galería') }"
          >
            <template
              slot="option"
              slot-scope="option"
            >
              <img
                :src="option.image"
                width="40"
                class="mr-2"
              >
              {{ option.label }}
            </template>
          </v-select>
          <b-form-invalid-feedback v-if="errors.has('Galería')">
            {{ errors.first("Galería") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <h3 class="mt-5 mb-3">
          Programa
        </h3>
        <hr>
        <b-form-group
          id="group-course-program_description"
          label="Resumen del programa"
          label-for="course-program_description"
        >
          <b-form-textarea
            id="course-program_description"
            v-model="course.program_description"
            v-validate="''"
            name="course-program_description"
            data-vv-name="Descripción"
            :class="{ 'is-invalid': errors.has('Resumen del programa') }"
          />
          <b-form-invalid-feedback v-if="errors.has('Resumen del programa')">
            {{ errors.first("Resumen del programa") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="group-course-program"
          label="Programa completo"
          label-for="course-program"
        >
          <ckeditor
            id="course-program"
            v-model="course.program"
            v-validate="''"
            :editor="editor"
            :config="editorConfig"
            name="course-program"
            data-vv-name="Descripción"
            :class="{ 'is-invalid': errors.has('Programa') }"
          />
          <b-form-invalid-feedback v-if="errors.has('Programa')">
            {{ errors.first("Programa") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="group-course-program_pdf"
          label="Programa en pdf"
          label-for="course-program_pdf"
          description="Pdf con el programa completo"
        >
          <b-card v-if="course.program_pdf">
            <a :href="$imageUrl + course.program_pdf">
              <i class="far fa-file-alt" /> {{ course.program_pdf }}</a>
          </b-card>
          <FileUpload
            :scope="'program'"
            :access="'public'"
            :course_id="''"
            @files="getProgram"
          />

          <b-form-invalid-feedback v-if="errors.has('Programa')">
            {{ errors.first("Programa") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <h3 class="mt-5 mb-3">
          Relación
        </h3>
        <hr>
        <b-form-group
          id="group-course-relation"
          label="Relación"
          label-for="course-relation"
          description="Las relaciones van a hacer que los cursos que son iguales pero con distinta modalidad se muestren juntos."
        >
          <v-select
            id="course-relation"
            v-model="course.relation"
            v-validate=""
            name="course-relation"
            multiple
            :reduce="val => val.value"
            :options="relation_options"
            placeholder="Seleccionar una opción"
            data-vv-name="Relación"
            :class="{ 'is-invalid': errors.has('Relación') }"
          />
          <b-form-invalid-feedback v-if="errors.has('Relación')">
            {{ errors.first("Relación") }}
          </b-form-invalid-feedback>
        </b-form-group>
        <b-btn
          v-if="edit"
          variant="primary"
          size="lg"
          class="mt-5"
          @click="handleSubmit()"
        >
          <span
            v-if="loading"
          >GUARDANDO <i class="fas fa-circle-notch fa-spin" /></span><span v-else>EDITAR</span>
        </b-btn>
        <b-btn
          v-else
          variant="primary"
          size="lg"
          class="mt-5"
          @click="handleSubmit()"
        >
          <span
            v-if="loading"
          >GUARDANDO <i class="fas fa-circle-notch fa-spin" /></span><span v-else>ENVIAR</span>
        </b-btn>
      </b-col>
      <b-col md="3" />
    </b-row>
  </div>
</template>

<script>
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";

const modality_options = [
  { value: "presencial", label: "Presencial" },
  { value: "semipresencial", label: "Semi-presencial" },
  { value: "online", label: "Online" },
  { value: "interactivo", label: "Interactivo" },
  { value: "capacitacion", label: "Capacitación" }
];
const requirements_options = [
  { value: "title", label: "Título médico" },
  { value: "dni", label: "DNI" }
];
const certifications_options = [
  { value: "cace", label: "CACE" },
  { value: "ama", label: "AMA" },
  { value: "uba", label: "UBA" }
];
import vSelect from "vue-select";
import FileUpload from "../../components/fileUpload";

import course from "../../services/course";
import category from "../../services/category";
import file from "../../services/file";

export default {
  name: "AddGeneral",
  components: {
    vSelect,
    FileUpload
  },
  props: ["courseId"],
  data() {
    return {
      course: {},
      edit: false,
      files: {},
      modality_options: modality_options,
      category_options: [],
      gallery_options: [],
      requirements_options: requirements_options,
      certifications_options: certifications_options,
      relation_options: [],
      editor: ClassicEditor,
      editorData: "",
      editorConfig: {},
      savedData: false,
      loading: false
    };
  },
  watch: {
    "course.mode": function(val, oldval) {
      if (val !== "online") {
        this.$emit("setDatable", true);
      } else {
        this.$emit("setDatable", false);
      }
    },
    savedData: function(val, oldval) {
      if (val !== true) {
        this.$emit("setIndex", 1);
      } else {
        this.$emit("setIndex", 1);
      }
    }
  },
  async mounted() {
    // RELACIÓN DE CURSOS //
    const relation = await course.getCourses();

    for (let i = 0; i < relation.length; i++) {
      this.relation_options.push({
        value: relation[i].id,
        label: "#" + relation[i].id + " - " + relation[i].title
      });
    }
    //console.log(relation)
    // CATEGORIAS //
    const cat = await category.getCategories();
    for (let i = 0; i < cat.length; i++) {
      this.category_options.push({
        value: cat[i].id,
        label: cat[i].name
      });
    }
    // GALERIA //
    const gal = await file.getGallery(this.courseId);

    for (let i = 0; i < gal.length; i++) {
      if (gal[i].course_id) {
        this.gallery_options.push({
          value: gal[i].filename,
          label: gal[i].name,
          image: this.$imageUrl + gal[i].filename + ""
        });
      }
    }

    if (this.courseId != "") {
      this.edit = true;
      this.course = await course.getCourse(this.courseId);
    }
  },
  methods: {
    sanitizeTitle: function(title) {
      let slug = "";
      // Change to lower case
      let titleLower = title.toLowerCase();
      // Letter "e"
      slug = titleLower.replace(/e|é|è|ẽ|ẻ|ẹ|ê|ế|ề|ễ|ể|ệ/gi, "e");
      // Letter "a"
      slug = slug.replace(/a|á|à|ã|ả|ạ|ă|ắ|ằ|ẵ|ẳ|ặ|â|ấ|ầ|ẫ|ẩ|ậ/gi, "a");
      // Letter "o"
      slug = slug.replace(/o|ó|ò|õ|ỏ|ọ|ô|ố|ồ|ỗ|ổ|ộ|ơ|ớ|ờ|ỡ|ở|ợ/gi, "o");
      // Letter "u"
      slug = slug.replace(/u|ú|ù|ũ|ủ|ụ|ư|ứ|ừ|ữ|ử|ự/gi, "u");
      // Letter "d"
      slug = slug.replace(/đ/gi, "d");
      // Trim the last whitespace
      slug = slug.replace(/\s*$/g, "");
      // Change whitespace to "-"
      slug = slug.replace(/\s+/g, "-");

      return slug;
    },
    getFile(value) {
      console.log(value);
      this.course.featured_image = value;
    },
    getProgram(value) {
      console.log(value);
      this.course.program_pdf = value;
    },
    inputFilter(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
          return prevent();
        }
        if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
          return prevent();
        }
      }
    },
    inputFile(newFile, oldFile) {
      if (newFile && !oldFile) {
        // add
        console.log("add", newFile);
      }
      if (newFile && oldFile) {
        // update
        console.log("update", newFile);
      }
      if (!newFile && oldFile) {
        // remove
        console.log("remove", oldFile);
      }
    },

    handleSubmit() {
      this.submitted = true;
      this.course.slug = this.course.mode + "/" + this.sanitizeTitle(this.course.title);
      if (this.course.category !=0)
      this.$validator.validate().then(valid => {
        if (valid) {
          this.loading = true;
          if (this.edit != true) {
            this.saveCourse();
          } else {
            this.editCourse();
          }
        } else {
          this.loading = false;
          this.$toaster.error("Completa todos los campos");
        }
      });
    },
    async editCourse() {
      try {
        let courseId = this.$route.params.id;
        await course.editCourse(courseId, this.course);
        this.$toaster.success("Curso editado");
        this.savedData = true;
        this.loading = false;
      } catch (response) {
        this.loading = false;
        this.savedData = false;
        this.$toaster.error("ERROR: El curso no se guardó");
      }
    },
    async saveCourse() {
      try {
        this.course.status = "draft";
        const saveCourse = await course.addCourse(this.course);
        this.course.id = saveCourse.id;
        this.course.slug =
          this.course.mode + "/" + this.sanitizeTitle(this.course.title);
        this.$toaster.success("El curso fue creado correctamente");
        this.$router.push("/course/" + saveCourse.id);
        this.savedData = true;
        this.loading = false;
      } catch (e) {
        this.loading = false;
        this.savedData = false;
        this.$toaster.error("ERROR: El curso no se guardó");
      }
    }
  }
};
</script>

<style scoped></style>
