<template>
  <div id="AddUnit">
    <input v-model="unit.content_id" type="hidden" />
    <b-form-group
      id="group-unit-title"
      label="Título de la unidad"
      label-for="unit-title"
    >
      <b-form-input
        id="unit-title"
        v-model="unit.title"
        v-validate="'required'"
        name="unit-title"
        data-vv-name="Título de la unidad"
        :class="{ 'is-invalid': errors.has('Título de la unidad') }"
        aria-describedby="input-1-live-feedback"
      />
      <b-form-invalid-feedback v-if="errors.has('Título de la unidad')">
        {{ errors.first("Título de la unidad") }}
      </b-form-invalid-feedback>
    </b-form-group>
    <b-form-group
      id="group-unit-name"
      label="Nombre corto de la unidad"
      label-for="unit-name"
    >
      <b-form-input
        id="unit-name"
        v-model="unit.name"
        v-validate="'required'"
        name="unit-name"
        data-vv-name="Nombre de la unidad"
        :class="{ 'is-invalid': errors.has('Nombre de la unidad') }"
        aria-describedby="input-1-live-feedback"
      />
      <b-form-invalid-feedback v-if="errors.has('Nombre de la unidad')">
        {{ errors.first("Nombre de la unidad") }}
      </b-form-invalid-feedback>
    </b-form-group>
    <b-form-group
      id="group-unit-description"
      label="Descripción general de la unidad"
      label-for="unit-description"
    >
      <b-form-textarea
        id="unit-description"
        v-model="unit.description"
        v-validate="'required'"
        name="unit-description"
        data-vv-name="Descripción"
        :class="{ 'is-invalid': errors.has('Descripción') }"
      />
      <b-form-invalid-feedback v-if="errors.has('Descripción')">
        {{ errors.first("Descripción") }}
      </b-form-invalid-feedback>
    </b-form-group>
    <b-btn
      v-if="unitId"
      variant="primary"
      class="mt-4"
      size="lg"
      @click="handleSubmit('edit')"
    >
      EDITAR
    </b-btn>
    <b-btn
      v-else
      variant="primary"
      class="mt-4"
      size="lg"
      @click="handleSubmit('save')"
    >
      GUARDAR
    </b-btn>
  </div>
</template>

<script>
import unit from "../../services/unit";
import Input from "../Input";
export default {
  name: "ModalUnit",
  components: { Input },
  props: ["unitId", "courseId", "contentId"],
  data() {
    return {
      unit: {}
    };
  },
  mounted() {
    this.unit.content_id = this.contentId;
  },
  methods: {
    handleSubmit(action) {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        this.loading = true;
        if (valid) {
          if (action == "save") {
            this.saveUnit();
          } else {
            this.editUnit(index);
          }
        } else {
          this.$toaster.error("Completá todos los campos");
        }
      });
    },
    async saveUnit() {
      try {
        await unit.addUnit(this.unit);
        this.$toaster.success("Unidad guardada");
        this.$emit("exit", true);
      } catch (e) {
        this.$toaster.error("ERROR: Los datos no se guardaron");
        this.$emit("exit", true);
      }
    },
    async editUnit() {
      try {
        await unit.editUnit(this.unit, this.unit_id);
        this.$toaster.success("Unidad guardada");
        this.$emit("exit", true);
      } catch (e) {
        this.$toaster.error("ERROR: Los datos no se guardaron");
        this.$emit("exit", true);
      }
    }
  }
};
</script>

<style scoped></style>
