<template>
  <div class="add-class">
    <b-form-group
      id="group-clase-title"
      label="Título de la clase"
      label-for="clase-title"
    >
      <b-form-input
        id="clase-title"
        v-model="clase.title"
        v-validate="'required'"
        name="clase-title"
        data-vv-name="Título de la clase"
        :class="{ 'is-invalid': errors.has('Título de la clase') }"
        aria-describedby="input-1-live-feedback"
      />
      <b-form-invalid-feedback v-if="errors.has('Título de la clase')">
        {{ errors.first("Título de la clase") }}
      </b-form-invalid-feedback>
    </b-form-group>
    <b-form-group
      id="group-clase-content_image"
      label="Material"
      label-for="clase-content_image"
    >
      <v-select
        id="clase-content_image"
        v-model="clase.material"
        v-validate="'required'"
        name="clase-content_image"
        multiple
        :options="content_image"
        placeholder="Seleccionar una opción"
        data-vv-name="Material"
        :class="{ 'is-invalid': errors.has('Material') }"
      >
        <template slot="option" slot-scope="option">
          <img :src="option.image" />
          {{ option.label }}
        </template>
      </v-select>
      <b-form-invalid-feedback v-if="errors.has('Material')">
        {{ errors.first("Material") }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      id="group-clase-content_video"
      label="Videos"
      label-for="clase-content_video"
    >
      <v-select
        id="clase-content_video"
        v-model="clase.video"
        v-validate="'required'"
        name="clase-content_video"
        :options="content_video"
        placeholder="Seleccionar una opción"
        data-vv-name="Video"
        :class="{ 'is-invalid': errors.has('Video') }"
      >
        <template slot="option" slot-scope="option">
          {{ option.label }}
        </template>
      </v-select>
      <b-form-invalid-feedback v-if="errors.has('Video')">
        {{ errors.first("Video") }}
      </b-form-invalid-feedback>
    </b-form-group>

    <!-- Render this if no tabs -->

    <b-button variant="primary" @click="save()">
      Guardar clase
    </b-button>
  </div>
</template>

<script>
import vSelect from "vue-select";
import file from "../../services/file";
import clase from "../../services/class";
import material from "../../services/material";

export default {
  name: "Class",
  components: {
    vSelect
  },
  props: ["unit_id", "classContent"],
  data() {
    return {
      videos: [],
      clase: {
        title: null,
        description: null,
        material: [],
        video: null
      },
      content_image: [],
      content_video: []
    };
  },
  async mounted() {
    if (this.classContent) {
      this.clase.title = this.classContent.title;
      this.clase.description = this.classContent.description;
      this.clase.material = this.classContent.material;
    }

    const courseId = this.$route.params.id;
    console.log(courseId);

    const getFiles = await file.getMaterial(courseId);
    console.log(getFiles);

    for (let i = 0; i < getFiles.length; i++) {
      this.content_image.push({
        value: getFiles[i].path,
        label: getFiles[i].name
      });
    }

    const getVideos = await file.getVideos(courseId);
    for (let i = 0; i < getVideos.length; i++) {
      this.content_video.push({
        value: getVideos[i].path,
        label: getVideos[i].name
      });
    }
  },
  methods: {
    async save() {
      //console.log(this.logMaterial());
      const _this = this;
      let saveClass = [];
      saveClass.push({
        unit_id: _this.unit_id,
        title: _this.clase.title
      });
      const savedClass = await clase
        .addClass(saveClass[0])
        .then(function(response) {
          _this.logMaterial(response.id);
        })
        .catch(function(error) {
          //cerramos el modal
          _this.$emit("exit", true);
          _this.$toaster.error("No se guardaron los materiales");
          console.log(error);
        });
    },

    logMaterial(class_id) {
      const _this = this;
      // configuramos todos los archivos
      //alert(_this.clase.material);
      if (
        _this.clase.video != null &&
        _this.clase.material != null &&
        !_this.clase.video &&
        !_this.clase.material
      ) {
        _this.$toaster.success("Clase guardada. Guardando materiales...");

        // configuramos todos los archivos

        const saveDocs = _this.clase.material.map(item => {
          return {
            title: item.label,
            description: "descripcion",
            url: item.value,
            type: "material",
            class_id: class_id
          };
        });
        // configuramos el video
        const saveVideo = {
          title: _this.clase.video.label,
          description: "description",
          url: _this.clase.video.value,
          type: "video",
          class_id: class_id
        };
        console.log();

        // concatenamos all
        const allMaterial = saveDocs.concat(saveVideo);

        allMaterial.forEach(element => _this.saveMaterial(element));
      } else {
        //cerramos el modal
        _this.$emit("exit", true);
        _this.$toaster.success("Clase guardada.");
      }
    },
    async saveMaterial(e) {
      const _this = this;
      try {
        const savedMaterial = await material.addMaterial(e);
        //cerramos el modal
        _this.$emit("exit", true);
        _this.$toaster.success("Material guardado");
      } catch (e) {
        _this.$toaster.error("No se pudieron guardar los materiales");
      }
    }
  }
};
</script>

<style scoped></style>
