<template>
  <div class="add-multimedia">
    <!--<h3>IMAGEN DESTACADA</h3>-->

    <h3 class="mt-4">
      Videos
    </h3>
    <div class="upload my-3">
      <b-table key="index" striped hover :items="videos" :fields="videoFields">
        <!-- A custom formatted column -->
        <template v-slot:cell(name)="data">
          <span v-html="data.value" />
        </template>
        <template v-slot:cell(actions)="data">
          <button
            class="btn btn-sm btn-danger"
            @click="removeFile(data.item.id, index)"
          >
            <i class="fa fa-trash" />
          </button>
        </template>
      </b-table>
      <VideoUpload
        v-model="video"
        :course_id="$route.params.id"
        :scope="'video'"
        :access="'private'"
        :material="true"
        @files="getVideos"
      />
    </div>
    <hr />
    <h3>Material</h3>
    <div class="upload my-3">
      <b-table key="index" striped hover :items="material" :fields="fields">
        <!-- A custom formatted column -->
        <template v-slot:cell(name)="data">
          <span v-html="data.value" />
        </template>
        <template v-slot:cell(actions)="data">
          <button
            class="btn btn-sm btn-danger"
            @click="removeFile(data.item.id, index)"
          >
            <i class="fa fa-trash" />
          </button>
        </template>
      </b-table>
      <FileUpload
        v-model="files"
        :course_id="$route.params.id"
        :scope="'file'"
        :access="'private'"
        :material="true"
        @files="getFiles"
      />
      <!--<div class="example-btn">
                <FileUpload
                        class="btn btn-primary"
                        post-action="/upload/post"
                        :multiple="true"
                        :custom-action="uploadFile"
                        v-model="upFiles"
                        @input-filter="inputFilter"
                        @input-file="inputFile"
                        ref="uploadFile">
                    <i class="fa fa-plus"></i>
                    Elegir archivos
                </FileUpload>
                <button type="button" class="btn btn-success" v-if="!$refs.uploadFile || !$refs.uploadFile.active"
                        @click.prevent="$refs.uploadFile.active = true">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    Subir
                </button>
                <button type="button" class="btn btn-danger" v-else @click.prevent="$refs.uploadFile.active = false">
                    <i class="fa fa-stop" aria-hidden="true"></i>
                    Detener
                </button>
            </div>-->
    </div>

    <br />
    <h3 class="mt-4">
      Imágenes
    </h3>
    <div class="upload my-3">
      <b-table
        key="index"
        ref="table"
        striped
        hover
        :items="images"
        :fields="fields"
      >
        <!-- A custom formatted column -->
        <template v-slot:cell(name)="data">
          <span v-html="data.value" />
        </template>
        <template v-slot:cell(actions)="data">
          <button
            class="btn btn-sm btn-danger"
            @click="removeImage(data.item.id, index)"
          >
            <i class="fa fa-trash" />
          </button>
        </template>
      </b-table>

      <FileUpload
        v-model="images"
        :course_id="$route.params.id"
        :scope="'image'"
        :access="'public'"
        :material="true"
        @images="getImages"
      />

      <!--<div class="example-btn">
                <FileUpload
                        class="btn btn-primary"
                        post-action="/upload/post"
                        extensions="gif,jpg,jpeg,png,webp"
                        accept="image/png,image/gif,image/jpeg,image/webp"
                        :multiple="true"
                        :custom-action="uploadFile"
                        @input-filter="inputFilter"
                        @input-file="inputFile"
                        v-model="upImage"
                        ref="uploadImage">
                    <i class="fa fa-plus"></i>
                    Elegir archivos
                </FileUpload>
                <button type="button" class="btn btn-success" v-if="!$refs.uploadImage || !$refs.uploadImage.active"
                        @click.prevent="uploadImage">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    Subir
                </button>
                <button type="button" class="btn btn-danger" v-else @click.prevent="$refs.uploadImage.active = false">
                    <i class="fa fa-stop" aria-hidden="true"></i>
                    Detener
                </button>
            </div>-->
    </div>
  </div>
</template>

<script>
import FileUpload from "../../components/fileUpload";
import VideoUpload from "../../components/videoUpload";

//import FileUpload from 'vue-upload-component'
import file from "../../services/file";

export default {
  components: {
    FileUpload,
    VideoUpload
  },
  data() {
    return {
      material: [],
      images: [],
      files: [],
      videos: [],
      video: null,
      fields: ["name", "actions"],
      videoFields: ["name", "path", "actions"]
    };
  },
  computed: {},
  async mounted() {
    try {
      const courseId = this.$route.params.id;
      const getFiles = await file.getMaterial(courseId);
      this.material = getFiles;
      const getGallery = await file.getGallery(courseId);
      this.images = getGallery;
      const getVideos = await file.getVideos(courseId);
      this.videos = getVideos;
    } catch (e) {
      this.$toaster.error("Error al recuperar archivos");
    }
  },
  methods: {
    async getImages() {
      const getGallery = await file.getGallery(this.$route.params.id);
      this.images = getGallery;
    },
    async getFiles() {
      const getFiles = await file.getMaterial(this.$route.params.id);
      this.material = getFiles;
    },
    async getVideos() {
      const getVideos = await file.getVideos(this.$route.params.id);
      this.videos = getVideos;
    },
    async removeFile(fileId, index) {
      console.log(fileId);
      try {
        await file.delFile(fileId);
        this.files.splice(index, 1);
        this.$toaster.success("Archivo eliminado");
      } catch (e) {
        this.$toaster.error("El archivo no pudo eliminarse");
      }
    }
  }
};
</script>

<style scoped>
.example-drag label.btn {
  margin-bottom: 0;
  margin-right: 1rem;
}

.example-drag .drop-active {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  opacity: 0.6;
  text-align: center;
  background: #000;
}

.example-drag .drop-active h3 {
  margin: -0.5em 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  color: #fff;
  padding: 0;
}
</style>
