e<template>
  <b-row>
    <b-col md="6">
      <b-form-group id="group-date-price" label="Precio" label-for="date-price">
        <b-input-group size="lg" prepend="$">
          <b-form-input
            id="date-price"
            v-model="dates.price"
            v-validate="'required'"
            name="date-price"
            data-vv-name="Precio"
            :class="{ 'is-invalid': errors.has('Precio') }"
            aria-describedby="input-1-live-feedback"
          />
        </b-input-group>
        <b-form-invalid-feedback v-if="errors.has('Precio')">
          {{ errors.first("Precio") }}
        </b-form-invalid-feedback>

        <!--Imagenes ver: https://codesandbox.io/s/adaptive-components-vue-multiselect-4yn08 -->
      </b-form-group>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "AddPrice",
  props: ["course"]
};
</script>

<style scoped></style>
