<template>
  <div class="add-teacher">
    <h4 class="mt-4">
      Vendedores asignados
    </h4>
    <div v-if="sellers">
      <v-client-table
        id="dataTable"
        ref="table"
        :columns="columns"
        :data="sellers"
        :options="options"
        :theme="theme"
      >
        <template v-if="isLoading" slot="afterBody">
          <div class="overlay-loader" />
          Loading
        </template>

        <div slot="name" slot-scope="props" class="name">
          {{ props.row.user.name }}
        </div>
        <div slot="percent" slot-scope="props" class="percent">
          {{ props.row.percent }} %
        </div>
        <div slot="url" slot-scope="props" class="url">
          http://caceglobal.org/url_curso/?v={{ props.row.id }}
        </div>
        <div slot="actions" slot-scope="props" class="actions">
          <a href="#" class="btn btn-sm btn-success mr-2">
            <i class="fa fa-eye" />
          </a>
          <router-link
            :to="'teachers/' + props.row.id"
            class="btn btn-sm btn-warning mr-2"
          >
            <i class="fa fa-pencil" />
          </router-link>
          <button
            class="btn btn-sm btn-danger"
            @click="showConfirmation(props.row.id, props.index)"
          >
            <i class="fa fa-trash" />
          </button>
        </div>
      </v-client-table>
    </div>
    <div v-else>
      <p>No hay vendedores asignados</p>
    </div>
    <hr />
    <h4 class="mt-4">
      Asignar vendedor
    </h4>

    <b-form-group
      id="group-teacher"
      label="Seleccionar vendedor"
      label-for="teacher"
    >
      <v-select
        id="seller"
        v-model="seller.user_id"
        v-validate="'required'"
        name="seller"
        :options="sellers_options"
        :reduce="op => op.value"
        placeholder="Seleccionar una opción"
        data-vv-name="Vendedor"
        :class="{ 'is-invalid': errors.has('Vendedor') }"
      />
      <b-form-invalid-feedback v-if="errors.has('Vendedor')">
        {{ errors.first("Vendedor") }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-form-group
      id="group-seller_percent"
      label="Porcentaje en la venta"
      label-for="seller_percent"
    >
      <b-input-group size="lg" append="%">
        <b-form-input
          id="seller_percent"
          v-model="seller.percent"
          v-validate="'required'"
          name="seller_percent"
          type="number"
          data-vv-name="Porcentaje"
          :class="{ 'is-invalid': errors.has('Porcentaje') }"
          aria-describedby="input-1-live-feedback"
        />
      </b-input-group>
      <b-form-invalid-feedback v-if="errors.has('Porcentaje')">
        {{ errors.first("Porcentaje") }}
      </b-form-invalid-feedback>
    </b-form-group>
    <div class="d-flex justify-content-between">
      <b-btn variant="primary" size="lg" class="mt-4" @click="handleSubmit()">
        ASIGNAR VENDEDOR
      </b-btn>
      <b-btn v-b-modal.modal-1 variant="link" size="md" to="/users/add">
        NUEVO VENDEDOR
      </b-btn>
    </div>

    <b-modal id="modal-1" title="BootstrapVue">
      <p class="my-4">
        Hello from modal!
      </p>
    </b-modal>
  </div>
</template>

<script>
import vSelect from "vue-select";
import user from "../../services/user";
import seller from "../../services/seller";
import { ClientTable, Event } from "vue-tables-2";
import Vue from "vue";
import course from "../../services/course";

Vue.use(ClientTable);

export default {
  name: "Seller",
  components: {
    vSelect,
    ClientTable
  },
  props: ["courseId"],
  data() {
    return {
      columns: ["name", "percent", "url", "actions"],
      options: {
        headings: {
          name: "Vendedor",
          percent: "Comisión",
          url: "Url",
          actions: "Acciones"
        },
        search: false,
        pagination: {
          chunk: 5,
          edge: false,
          nav: "scroll"
        }
      },
      submited: false,
      sellers: [],
      seller: {
        user_id: null,
        course_id: null,
        percent: null
      },
      isLoading: false,
      useVuex: false,
      theme: "bootstrap4",
      template: "default",
      sellers_options: []
    };
  },
  computed: {},

  async mounted() {
    this.getSellers();
    this.getSellersInfo();
  },
  methods: {
    async getSellersInfo() {
      const seller = await user.getUsersByRole("seller");

      for (let i = 0; i < seller.length; i++) {
        this.sellers_options.push({
          value: seller[i].id,
          label: "#" + seller[i].id + " - " + seller[i].name
        });
      }
      return false;
    },
    async getSellers() {
      let promises;
      const awaitSellers = await seller.getSellers(this.courseId);
      if (awaitSellers) {
        promises = awaitSellers.map(async item => {
          const withUserInfo = await user.getUser(item.user_id);
          return {
            ...item,
            user: withUserInfo
          };
        });
        this.sellers = await Promise.all(promises);
        return await Promise.all(promises);
      }
    },
    handleSubmit() {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.loading = true;
          if (this.edit != true) {
            this.seller.course_id = this.courseId;
            this.save();
          } else {
            this.edit();
          }
        } else {
          this.$toaster.error("Completa todos los campos");
        }
      });
    },
    async edit() {
      try {
        await seller.editSeller(this.seller);
        this.$toaster.success("Vendedor editado");
      } catch (e) {
        console.log(e);
        console.log("error");
        this.$toaster.error(e.response.data.message);
      }
    },
    async save() {
      try {
        const saveSeller = await seller.addSeller(this.seller);
        this.sellers.push(saveSeller);
        this.$toaster.success("Vendedor asignado");
      } catch (e) {
        this.$toaster.error(e);
        console.log(e);
        console.log("error");
      }
    },
    showConfirmation(id, index) {
      this.sellers.splice(index - 1, 1);
      const _this = this;
      try {
        seller.delSeller(id);
      } catch (e) {
        console.log(e);
        _this.$toaster.error(e);
      }
    }
  }
};
</script>

<style scoped></style>
