<template>
  <div class="add-teacher">
    <h4 class="mt-4">
      Docentes asignados
    </h4>
    <div v-if="teacher">
      <b-row>
        <b-col md="12">
          <v-client-table
            id="dataTable"
            ref="table"
            :columns="columns"
            :data="teacher"
            :options="options"
            :theme="theme"
          >
            <template v-if="isLoading" slot="afterBody">
              <div class="overlay-loader" />
              Loading
            </template>
            <div slot="actions" slot-scope="props" class="actions">
              <a href="#" class="btn btn-sm btn-success mr-2">
                <i class="fa fa-eye" />
              </a>
              <router-link
                :to="'teacher/' + props.row.id"
                class="btn btn-sm btn-warning mr-2"
              >
                <i class="fa fa-pencil" />
              </router-link>
              <button
                class="btn btn-sm btn-danger"
                @click="showConfirmation(props.row.id, props.index)"
              >
                <i class="fa fa-trash" />
              </button>
            </div>
          </v-client-table>
        </b-col>
      </b-row>
    </div>
    <div v-else>
      <p>No hay docentes asignados</p>
    </div>
    <hr />
    <h4 class="mt-4">
      Asignar docente
    </h4>

    <b-form-group
      id="group-teacher"
      label="Seleccionar docente"
      label-for="teacher"
    >
      <v-select
        id="teacher"
        v-model="setTeacher.id"
        v-validate="'required'"
        name="teacher"
        :options="teachers_options"
        :reduce="op => op.value"
        placeholder="Seleccionar una opción"
        data-vv-name="Docente"
        :class="{ 'is-invalid': errors.has('Docente') }"
      />
      <b-form-invalid-feedback v-if="errors.has('Docente')">
        {{ errors.first("Docente") }}
      </b-form-invalid-feedback>
    </b-form-group>

    <div class="d-flex justify-content-between">
      <b-btn variant="primary" size="lg" class="mt-4" @click="handleSubmit()">
        ASIGNAR DOCENTE
      </b-btn>
      <b-btn v-b-modal.modal-1 variant="link" size="md" to="/teacher/add">
        NUEVO DOCENTE
      </b-btn>
    </div>

    <b-modal id="modal-1" title="BootstrapVue">
      <p class="my-4">
        Hello from modal!
      </p>
    </b-modal>
  </div>
</template>

<script>
import vSelect from "vue-select";
import user from "../../services/user";
import teacher from "../../services/teacher";
import { ClientTable, Event } from "vue-tables-2";
import Vue from "vue";
import course from "../../services/course";

Vue.use(ClientTable);

export default {
  name: "Seller",
  components: {
    vSelect,
    ClientTable
  },
  props: ["courseId", "teacher"],
  data() {
    return {
      columns: ["name", "email", "actions"],
      options: {
        headings: {
          name: "Vendedor",
          percent: "Comisión",
          url: "Url",
          actions: "Acciones"
        },
        search: false,
        pagination: {
          chunk: 5,
          edge: false,
          nav: "scroll"
        }
      },
      submited: false,
      teachers: [],
      setTeacher: {},
      loadedTeacher: this.teacher,
      isLoading: false,
      useVuex: false,
      theme: "bootstrap4",
      template: "default",
      teachers_options: []
    };
  },
  computed: {},

  async mounted() {
    this.teachers = await teacher.getTeachers();
    const teachersOptions = this.teachers;
    for (let i = 0; i < teachersOptions.length; i++) {
      this.teachers_options.push({
        value: teachersOptions[i].id,
        label: teachersOptions[i].name
      });
    }
  },
  methods: {
    async getTeacherData() {
      let teacherData = await teacher.getTeacher(this.setTeacher.id);
      if (teacherData.course_id) {
        teacherData.courses.push(this.courseId);
      } else {
        teacherData.courses = [this.courseId];
      }
      return teacherData;
    },
    handleSubmit() {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.loading = true;
          this.save();
        } else {
          this.$toaster.error("Completa todos los campos");
        }
      });
    },
    async save() {
      try {
        const teacherDataSave = await this.getTeacherData();
        const saveTeacher = await teacher.editTeacher(
          this.setTeacher.id,
          teacherDataSave
        );
        this.teacher.push(teacherDataSave);
        this.$toaster.success("Docente asignado");
      } catch (e) {
        this.$toaster.error("ERROR: Los datos no se guardaron");
        console.log("error");
      }
    },
    showConfirmation(id, index) {
      const _this = this;
      try {
        teacher.delTeacher(id);
        this.teachers.splice(index - 1, 1);
      } catch (e) {
        console.log(e);
        _this.$toaster.error("ERROR: Los datos no se guardaron");
      }
    }
  }
};
</script>

<style scoped></style>
