<template>
  <div class="add-unit">
    <h3 class="mt-4">
      Unidades
    </h3>
    <b-table
      v-if="units != ''"
      id="unitTable"
      ref="unitTable"
      key="index"
      striped
      :items="units"
      :fields="fields"
    >
      <!-- A custom formatted column -->
      <template v-slot:cell(show_details)="row">
        <b-button
          v-if="row.item.classes && row.item.classes != ''"
          size="sm"
          class="mr-2"
          @click="row.toggleDetails"
        >
          Ver clases
        </b-button>
        <!--<b-button
          size="sm"
          variant="info"
          class="mr-2"
          @click="showClasses(row.item, row.index, $event.target)"
        >
          Agregar clase
        </b-button>-->
        <b-button
          size="sm"
          variant="info"
          class="mr-2"
          :to="'/course/' + courseId + '/class/add/unit/' + row.item.id"
        >
          Agregar clase
        </b-button>
      </template>

      <!-- CLASES TABLE --->
      <template v-slot:row-details="row">
        <div class="row">
          <div class="col-12">
            <b-card>
              <b-table
                :ref="'classTable-' + row.index"
                key="index"
                responsive
                hover
                :items="row.item.classes"
                :fields="classes_fields"
              >
                <template v-slot:cell(actions)="row">
                  <!--<b-button
                    class="btn btn-sm btn-warning mr-2"
                    @click="editClasses(row.item, row.index, $event.target)"
                  >
                    <i class="fa fa-pencil" />
                  </b-button>-->
                  <b-button
                    class="btn btn-sm btn-warning mr-2"
                    :to="
                      '/course/' +
                        courseId +
                        '/class/' +
                        row.item.id +
                        '/unit/' +
                        unit_id
                    "
                  >
                    <i class="fa fa-pencil" />
                  </b-button>
                  <b-button
                    class="btn btn-sm btn-danger"
                    @click="delClass(row.item.id, row.index)"
                  >
                    <i class="fa fa-trash" />
                  </b-button>
                </template>
              </b-table>
            </b-card>
          </div>
        </div>
      </template>
      <!-- CLASES TABLE --->

      <template v-slot:cell(actions)="row">
        <b-button :to="'unit/' + row.id" class="btn btn-sm btn-warning mr-2">
          <i class="fa fa-pencil" />
        </b-button>
        <b-button
          class="btn btn-sm btn-danger"
          @click="delUnit(row.item.id, row.index)"
        >
          <i class="fa fa-trash" />
        </b-button>
      </template>
    </b-table>
    <div v-else class="mt-4">
      <b-alert variant="secondary" class="text-center" show>
        No hay unidades cargadas
      </b-alert>
    </div>
    <b-button v-b-modal.addUnit variant="secondary" block>
      AGREGAR UNIDAD
    </b-button>
    <b-modal
      :id="addModal.id"
      ref="modal"
      title="Agregar clase"
      hide-footer="true"
    >
      <ModalClass :unit_id="addModal.unit_id" @exit="closeModal" />
    </b-modal>

    <b-modal
      :id="editModal.id"
      ref="modal"
      title="Editar clase"
      hide-footer="true"
    >
      <ModalClass
        :unit_id="editModal.unit_id"
        :class-content="editModal.class"
        @exit="closeModal"
      />
    </b-modal>

    <b-modal id="addUnit" ref="modal" title="Agregar unidad" hide-footer="true">
      <ModalUnit
        :unit-id="unit_id"
        :content-id="content.id"
        @exit="closeModal"
      />
    </b-modal>
  </div>
</template>

<script>
import ModalClass from "./ModalClass";
import ModalUnit from "./ModalUnit";
import unit from "../../services/unit";
import content from "../../services/content";
import clase from "../../services/class";

export default {
  name: "Unit",
  components: { ModalUnit, ModalClass },
  props: ["courseId", "content"],
  data() {
    return {
      tabIndex: 0,
      tabCounter: 0,
      unit_id: "",
      units: [],
      exit: true,
      save: 1,
      submitted: false,
      loading: false,
      addModal: {
        id: "class-modal",
        unit_id: ""
      },
      editModal: {
        id: "edit-modal",
        unit_id: "",
        class: ""
      },
      fields: [
        {
          key: "id",
          label: "#"
        },
        {
          key: "title",
          label: "Nombre"
        },
        {
          key: "show_details",
          label: "Clases"
        },
        {
          key: "actions",
          label: "Acciones"
        }
      ],
      classes_fields: [
        {
          key: "title",
          label: "Nombre"
        },
        {
          key: "description",
          label: "Descripción"
        },
        {
          key: "actions",
          label: "Acciones"
        }
      ]
    };
  },
  computed() {
    this.load();
  },
  watch: {
    content: function(val, oldVal) {
      this.units = this.content.units;
      console.log("old" + val + "new" + oldVal);
    }
  },
  mounted() {},
  methods: {
    async closeModal() {
      const _this = this;
      _this.$refs.modal.hide();
      const contentReload = await content.getContent(this.content.id);
      _this.units = contentReload.units;
      _this.$refs.unitTable.refresh();
      _this.$refs.classTable.refresh();
    },
    showClasses(item, index, button) {
      this.addModal.unit_id = item.id;
      this.$root.$emit("bv::show::modal", this.addModal.id, button);
    },
    editClasses(item, index, button) {
      this.editModal.unit_id = item.id;
      this.editModal.class = item;
      this.$root.$emit("bv::show::modal", this.editModal.id, button);
    },

    handleSubmit(action, index) {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        this.loading = true;
        if (valid) {
          if (action == "save") {
            this.saveUnit(index);
          } else {
            this.edit(index);
          }
        } else {
          this.$toaster.error("Completá todos los campos");
        }
      });
    },

    async delUnit(id, index) {
      const _this = this;
      try {
        await unit.delUnit(id);
        this.content.units.splice(index, 1);
      } catch (e) {
        console.log(e);
        _this.$toaster.error(e);
      }
    },
    async delClass(id, index) {
      const _this = this;
      try {
        await clase.delClass(id);
        _this.$toaster.success("Clase eliminada");
      } catch (e) {
        _this.$toaster.error("ERROR: Los datos no se guardaron");
      }
    },
    closeUnit(x) {
      for (let i = 0; i < this.content.units.length; i++) {
        if (this.content.units[i] === x) {
          this.content.units.splice(i, 1);
        }
      }
    },
    load() {
      if (this.content.units != "") {
        this.save = 1;
      }
    }
  }
};
</script>

<style scoped></style>
