<template>
  <div className="animated">
    <b-card>
      <b-card-header> Agregar clase a la unidad {{ unitId }}</b-card-header>
      <b-card-body>
        <b-row>
          <b-col cols="12" lg="9">
            <b-form-group
              id="group-clase-title"
              label="Título de la clase"
              label-for="clase-title"
            >
              <b-form-input
                id="clase-title"
                v-model="clase.title"
                v-validate="'required'"
                name="clase-title"
                data-vv-name="Título de la clase"
                :class="{ 'is-invalid': errors.has('Título de la clase') }"
                aria-describedby="input-1-live-feedback"
              />
              <b-form-invalid-feedback v-if="errors.has('Título de la clase')">
                {{ errors.first("Título de la clase") }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-form-group
              id="group-clase-content_image"
              label="Material"
              label-for="clase-content_image"
            >
              <v-select
                id="clase-content_image"
                v-model="clase.material"
                v-validate="'required'"
                name="clase-content_image"
                multiple
                :options="content_image"
                placeholder="Seleccionar una opción"
                data-vv-name="Material"
                :class="{ 'is-invalid': errors.has('Material') }"
              >
                <template slot="option" slot-scope="option">
                  <img :src="option.image" />
                  {{ option.label }}
                </template>
              </v-select>
              <b-form-invalid-feedback v-if="errors.has('Material')">
                {{ errors.first("Material") }}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              id="group-clase-content_video"
              label="Video"
              label-for="clase-content_video"
            >
              <v-select
                id="clase-content_video"
                v-model="clase.video"
                v-validate="'required'"
                name="clase-content_video"
                :options="content_video"
                placeholder="Seleccionar una opción"
                data-vv-name="Video"
                :class="{ 'is-invalid': errors.has('Video') }"
              >
                <template slot="option" slot-scope="option">
                  {{ option.label }}
                </template>
              </v-select>
              <b-form-invalid-feedback v-if="errors.has('Video')">
                {{ errors.first("Video") }}
              </b-form-invalid-feedback>
            </b-form-group>

            <!-- Render this if no tabs -->

            <b-button variant="primary" @click="save()">
              Guardar clase
            </b-button>
          </b-col>
        </b-row>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import vSelect from "vue-select";
import file from "../../services/file";
import clase from "../../services/class";
import material from "../../services/material";

export default {
  name: "Class",
  components: {
    vSelect
  },
  data() {
    return {
      videos: [],
      unitId: null,
      courseId: null,
      classId: null,
      edit: false,
      clase: {
        title: null,
        description: null,
        material: [],
        video: null
      },
      content_image: [],
      content_video: []
    };
  },
  methods: {
    async save() {
      //console.log(this.logMaterial());
      const _this = this;
      let saveClass = [];
      saveClass.push({
        unit_id: _this.unitId,
        title: _this.clase.title
      });
      const savedClass = await clase
        .addClass(saveClass[0])
        .then(function(response) {
          _this.logMaterial(response.id);
        })
        .catch(function(error) {
          //cerramos el modal
          _this.$emit("exit", true);
          _this.$toaster.error("No se guardaron los materiales");
          console.log(error);
        });
    },

    logMaterial(class_id) {
      const _this = this;
      // configuramos todos los archivos
      //alert(_this.clase.material);
      if (
        _this.clase.video != null &&
        _this.clase.material != null &&
        _this.clase.video &&
        _this.clase.material
      ) {
        _this.$toaster.success("Clase guardada. Guardando materiales...");

        // configuramos todos los archivos

        const saveDocs = _this.clase.material.map(item => {
          return {
            title: item.label,
            description: "descripcion",
            url: item.value,
            type: "material",
            class_id: class_id
          };
        });
        // configuramos el video
        const saveVideo = {
          title: _this.clase.video.label,
          description: "description",
          url: _this.clase.video.value,
          type: "video",
          class_id: class_id
        };

        // concatenamos all
        const allMaterial = saveDocs.concat(saveVideo);

        allMaterial.forEach(element => _this.saveMaterial(element));
      } else {
        //cerramos el modal
        //_this.$emit("exit", true);
        _this.$toaster.success("Clase guardada.");
        _this.$router.push("/course/" + _this.courseId);
      }
    },
    async saveMaterial(e) {
      const _this = this;
      try {
        // eslint-disable-next-line no-unused-vars
        const savedMaterial = await material.addMaterial(e);
        // cerramos el modal
        // _this.$emit("exit", true);
        _this.$router.push("/course/" + _this.courseId);
        _this.$toaster.success("Material guardado");
      } catch (e) {
        _this.$toaster.error("No se pudieron guardar los materiales");
      }
    }
  },
  async mounted() {
    this.courseId = this.$route.params.courseId;
    this.unitId = this.$route.params.unitId;
    this.classId = this.$route.params.id;

    if (this.classId !== "add") {
      this.edit = true;
    }

    const getFiles = await file.getMaterial(this.courseId);

    for (let i = 0; i < getFiles.length; i++) {
      this.content_image.push({
        value: getFiles[i].path,
        label: getFiles[i].name
      });
    }

    const getVideos = await file.getVideos(this.courseId);

    for (let i = 0; i < getVideos.length; i++) {
      this.content_video.push({
        value: getVideos[i].path,
        label: getVideos[i].name
      });
    }
  }
};
</script>

<style scoped></style>
