<template>
  <div className="animated">
    <b-card>
      <b-card-header>
        Editar curso
      </b-card-header>
      <b-card-body>
        <b-row>
          <b-col cols="12" lg="9">
            <b-tabs v-model="tabIndex">
              <b-tab
                v-if="user.role == 'admin' || user.role == 'editor'"
                title="GENERAL"
              >
                <General
                  :course-id="this.$route.params.id"
                  @setDatable="handleDatable"
                  @setIndex="handleIndex"
                />
              </b-tab>
              <b-tab :title="dateTitle">
                <Dates
                  :course-id="this.$route.params.id"
                  :datable="datable"
                  @setIndex="handleIndex"
                />
              </b-tab>

              <b-tab
                v-if="user.role == 'admin' || user.role == 'editor'"
                title="CONTENIDO"
              >
                <Unit
                  :content="course.content"
                  :course-id="this.$route.params.id"
                  @setIndex="handleIndex"
                />
              </b-tab>

              <b-tab
                v-if="
                  user.role == 'admin' ||
                    user.role == 'editor' ||
                    user.role == 'multimedia'
                "
                title="MULTIMEDIA"
              >
                <Multimedia
                  :course-id="this.$route.params.id"
                  @setIndex="handleIndex"
                />
              </b-tab>
              <b-tab
                v-if="user.role == 'admin' || user.role == 'editor'"
                title="DOCENTES"
              >
                <Teacher
                  :teacher="course.teachers"
                  :course-id="this.$route.params.id"
                  @setIndex="handleIndex"
                />
              </b-tab>
              <b-tab
                v-if="user.role == 'admin' || user.role == 'editor'"
                title="EXAMEN"
              />
              <b-tab v-if="user.role == 'admin'" title="VENDEDORES">
                <Seller
                  :course-id="this.$route.params.id"
                  @setIndex="handleIndex"
                />
              </b-tab>
            </b-tabs>
          </b-col>
          <b-col cols="12" lg="3">
            <b-form-group
              id="group-course-status"
              label="Estado"
              label-for="course-status"
            >
              <v-select
                id="course-status"
                v-model="course.status"
                name="course-status"
                :options="status_options"
                placeholder="Seleccionar una opción"
                data-vv-name="Estado"
                :class="{ 'is-invalid': errors.has('Estado') }"
              />
            </b-form-group>
            <b-form-group
              id="group-course-highlight"
              label="Destaque"
              label-for="course-highlight"
            >
              <v-select
                id="course-highlight"
                v-model="course.highlight"
                v-validate="'required'"
                name="course-highlight"
                multiple
                :options="highlight_options"
                placeholder="Seleccionar una opción"
                data-vv-name="Destaque"
                :class="{ 'is-invalid': errors.has('Destaque') }"
              />
              <b-form-invalid-feedback v-if="errors.has('Destaque')">
                {{ errors.first("Destaque") }}
              </b-form-invalid-feedback>
            </b-form-group>
            <b-button type="submit" size="lg" variant="primary" block>
              GUARDAR
            </b-button>
          </b-col>
        </b-row>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import vSelect from "vue-select";
import { setupCalendar, DatePicker } from "v-calendar";
import MaskedInput from "vue-text-mask";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import Unit from "../../components/course/Unit";
import Class from "../../components/course/ModalClass";
import General from "../../components/course/General";
import Price from "../../components/course/Price";
import Dates from "../../components/course/Dates";
import Multimedia from "../../components/course/Multimedia";
import FileUpload from "vue-upload-component";
import course from "../../services/course";
import content from "../../services/content";
import Teacher from "../../components/course/Teacher";
import Seller from "../../components/course/Seller";
import user from "../../services/user";

const status_options = [
  { value: "draft", label: "Borrador" },
  { value: "public", label: "Publicado" }
];
const highlight_options = [
  { value: "borrador", label: "Borrador" },
  { value: "publicado", label: "Publicado" }
];

export default {
  name: "AddCourse",
  components: {
    Teacher,
    Dates,
    Price,
    General,
    Class,
    Unit,
    Multimedia,
    Seller,
    MaskedInput,
    vSelect,
    "v-date-picker": DatePicker
  },
  data() {
    return {
      submitted: false,
      course: {},
      dates: [],
      files: [],
      datable: false,
      clases: [
        {
          content: {
            video: "",
            doc: ""
          }
        }
      ],
      contents: [],
      status_options: status_options,
      highlight_options: highlight_options,
      editor: ClassicEditor,
      editorData: "",
      editorConfig: {},
      tabIndex: 1,
      dateTitle: "PRECIO",
      user: []
    };
  },
  async mounted() {
    this.user = await user.getMyProfile(courseId);

    //await this.$store.commit('set_loading', true);
    let courseId = this.$route.params.id;
    //await this.$store.dispatch('getCourse', courseId);
    this.course = await course.getCourse(courseId);
    //await this.$store.commit('set_loading', false);

    if (this.course.mode != "online") {
      this.datable = true;
    } else {
      this.datable = false;
    }

    this.dates.push({
      course_id: this.course.id
    });
  },
  methods: {
    handleIndex(val) {
      this.tabIndex = val;
    },
    handleDatable: function(val) {
      this.datable = val;
      if (val == true) {
        this.dateTitle = "FECHAS";
      } else {
        this.dateTitle = "PRECIO";
      }
    },
    async edit() {
      try {
        let courseId = this.$route.params.id;
        await course.editCourse(courseId, this.course);
      } catch (e) {
        console.log(e);
        console.log("error");
      }
    },
    save() {
      try {
        const saveContent = content.addContent();
        console.log(saveContent);
      } catch (e) {
        this.$toaster.error(e);
      }
    }
  }
};
</script>

<style scoped></style>
