<template>
  <div className="animated">
    <b-card>
      <b-card-header>
        Sedes
        <div class="card-header-actions">
          <router-link to="place/add" class="btn btn-primary">
            AGREGAR SEDE
          </router-link>
        </div>
      </b-card-header>
      <b-card-body>
        <v-client-table
          id="dataTable"
          ref="table"
          :columns="columns"
          :data="places"
          :options="options"
          :theme="theme"
        >
          <div slot="actions" slot-scope="props" class="actions">
            <a href="#" class="btn btn-sm btn-success mr-2">
              <i class="fa fa-eye" />
            </a>
            <router-link
              :to="'place/' + props.row.id"
              class="btn btn-sm btn-warning mr-2"
            >
              <i class="fa fa-pencil" />
            </router-link>
            <a href="#" class="btn btn-sm btn-info mr-2">
              <i class="fa fa-copy" />
            </a>
            <button
              class="btn btn-sm btn-danger"
              @click="showConfirmation(props.row.id, props.index)"
            >
              <i class="fa fa-trash" />
            </button>
          </div>
        </v-client-table>
      </b-card-body>

      <b-alert
        v-model="confirmation"
        class="position-fixed fixed-bottom m-0 rounded-0"
        style="z-index: 2000; max-width: 400px; left:60px; bottom: 60px"
        variant="success"
        dismissible
      >
        <b-container>
          El lugar fue eliminado
          <b-link @click="stopFunction()">
            Deshacer
          </b-link>
        </b-container>
      </b-alert>
    </b-card>
  </div>
</template>

<script>
import Vue from "vue";
import { ClientTable, Event } from "vue-tables-2";
//import {mapState} from 'vuex';
import place from "../../services/place";
import course from "../../services/course";

let timeout;

Vue.use(ClientTable);

export default {
  name: "Courses",
  components: {
    ClientTable,
    Event
  },
  data() {
    return {
      columns: ["id", "name", "short_description", "actions"],
      confirmation: false,
      confirmation_id: "",
      confirmation_index: "",
      places: [],
      options: {
        headings: {
          id: "#",
          name: "Nombre",
          short_description: "Descripción",
          actions: "Acciones"
        },
        sortable: ["title", "id"],
        filterable: ["title", "id"],
        sortIcon: {
          base: "fa",
          up: "fa-sort-asc",
          down: "fa-sort-desc",
          is: "fa-sort"
        },
        pagination: {
          chunk: 5,
          edge: false,
          nav: "scroll"
        }
      },
      useVuex: false,
      theme: "bootstrap4",
      template: "default"
    };
  },
  /*computed:{
            ...mapState(['course']),
            ...mapState(['loading']),
        },*/
  async mounted() {
    //await this.$store.commit('ui/set_loading', true);
    //await this.$store.dispatch('course/getCourses');
    //await this.$store.dispatch('getUser');
    //await this.$store.commit('ui/set_loading', false);
    this.places = await place.getPlaces();
  },
  methods: {
    async showConfirmation(id, index) {
      try {
        await place.delPlace(id);
        this.places.splice(index - 1, 1);
        this.$toaster.success("Sede eliminada");
      } catch (e) {
        this.$toaster.error(e);
      }
    }
  }
};
</script>

<style lang="scss">
#dataTable {
  width: 95%;
  margin: 0 auto;

  .VuePagination {
    text-align: center;
    justify-content: center;
  }

  .vue-title {
    text-align: center;
    margin-bottom: 10px;
  }

  .VueTables__search-field {
    display: flex;
  }
  .VueTables__search-field input {
    margin-left: 0.25rem;
  }

  .VueTables__limit-field {
    display: flex;
  }

  .VueTables__limit-field select {
    margin-left: 0.25rem !important;
  }

  .VueTables__table th {
    text-align: center;
  }

  .VueTables__child-row-toggler {
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: block;
    margin: auto;
    text-align: center;
  }

  .VueTables__child-row-toggler--closed::before {
    content: "+";
  }

  .VueTables__child-row-toggler--open::before {
    content: "-";
  }
}
</style>
