<template>
  <div className="animated">
    <b-card>
      <b-card-header v-if="edit">
        Editar Sede
      </b-card-header>
      <b-card-header v-else>
        Agregar Sede
      </b-card-header>
      <b-card-body>
        <b-form novalidate @submit.prevent="handleSubmit">
          <b-row>
            <b-col cols="12" lg="9">
              <b-form-group
                id="group-place-name"
                label="Nombre"
                label-for="place-name"
              >
                <b-form-input
                  id="place-name"
                  v-model="place.name"
                  v-validate="'required'"
                  name="place-name"
                  data-vv-name="Nombre"
                  :class="{ 'is-invalid': errors.has('Nombre') }"
                  aria-describedby="input-1-live-feedback"
                />
                <b-form-invalid-feedback v-if="errors.has('Nombre')">
                  {{ errors.first("Nombre") }}
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                id="group-place-description"
                label="Descripción"
                label-for="place-description"
              >
                <b-form-textarea
                  id="place-description"
                  v-model="place.description"
                  v-validate="'required'"
                  name="place-description"
                  data-vv-name="Descripción"
                  :class="{ 'is-invalid': errors.has('Descripción') }"
                />
                <b-form-invalid-feedback v-if="errors.has('Descripción')">
                  {{ errors.first("Descripción") }}
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                id="group-place-short-description"
                label="Descripción corta"
                label-for="place-short-description"
              >
                <b-form-textarea
                  id="place-short-description"
                  v-model="place.short_description"
                  v-validate="'required'"
                  name="place-short-description"
                  data-vv-name="Descripción corta"
                  :class="{ 'is-invalid': errors.has('Descripción corta') }"
                />
                <b-form-invalid-feedback v-if="errors.has('Descripción corta')">
                  {{ errors.first("Descripción corta") }}
                </b-form-invalid-feedback>
              </b-form-group>
              <FileUpload @files="getFile" />
              <b-btn
                variant="primary"
                class="mt-4"
                size="lg"
                @click="handleSubmit()"
              >
                GUARDAR
              </b-btn>
            </b-col>
          </b-row>
        </b-form>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import place from "../../services/place";
import file from "../../services/file";
import FileUpload from "../../components/fileUpload";
import page from "../../services/page";

export default {
  name: "AddCourse",
  components: {
    FileUpload
  },
  data() {
    return {
      edit: false,
      submitted: false,
      place: {},
      files: {},
      course_id: 1
    };
  },
  computed: {},
  async mounted() {
    let placeId = this.$route.params.id;

    if (placeId && placeId != "add") {
      try {
        this.place = await place.getPlace(placeId);
        this.edit = true;
        if (this.place.image) {
          this.place.image_url =
            "http://cace-api.brianardiles.xyz/api/files/view/" +
            this.place.image;
        }
      } catch (e) {
        this.$toaster.error(e);
      }
    }
  },
  methods: {
    handleSubmit() {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.loading = true;
          this.save();
        }
      });
    },
    getFile(value) {
      this.place.image = value;
    },
    async save() {
      try {
        const savePlace = await place.addPlace(this.place);
        console.log(savePlace);
        this.$toaster.success("Sede guardada");
        this.$router.push("/places");
      } catch (e) {
        console.log(e);
        console.log("error");
        this.$toaster.error(e);
      }
    }
  }
};
</script>

<style scoped></style>
