<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form>
                  <h1>Login</h1>
                  <p class="text-muted">
                    Ingresar a tu cuenta
                  </p>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <i class="icon-user" />
                      </b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input
                      v-model="user.email"
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      autocomplete="username email"
                    />
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <i class="icon-lock" />
                      </b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input
                      v-model="user.password"
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      autocomplete="current-password"
                    />
                  </b-input-group>
                  <b-row>
                    <b-col cols="6">
                      <b-button
                        variant="primary"
                        class="px-4"
                        @click="handleSubmit()"
                      >
                        INGRESAR
                      </b-button>
                    </b-col>
                    <b-col cols="6" class="text-right">
                      <router-link class="btn btn-link px-0" to="recover-pass">
                        ¿Olvidaste tu contraseña?
                      </router-link>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import user from "../../services/user";

export default {
  name: "Ingresar",
  data() {
    return {
      user: {
        email: "",
        password: ""
      },
      error: "",
      loading: false,
      submitted: false
    };
  },
  methods: {
    handleSubmit() {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.loading = true;
          this.submit();
        } else {
          this.$toaster.error("Completá los campos");
        }
      });
    },
    async submit() {
      const _this = this;
      try {
        const response = await user.login(this.user);
        localStorage.access_token = response.access_token;
        if (response.access_token) {
          this.$router.push("/dashboard");
        }
      } catch (e) {
        this.loading = false;
        let errors = e.response.data.error;
        if (errors == "Unauthorized") {
          this.$toaster.error("El email o la contraseña son incorrectos");
        } else {
          this.$toaster.error("Error de conexión");
        }
      }
    }
  }
};
</script>
