<template>
  <div className="animated">
    <b-card>
      <b-card-header>
        Agregar página
      </b-card-header>
      <b-card-body>
        <b-form novalidate @submit.prevent="handleSubmit">
          <b-row>
            <b-col cols="12" lg="9">
              <b-form-group
                id="group-page-name"
                label="Nombre"
                label-for="page-name"
              >
                <b-form-input
                  id="page-name"
                  v-model="page.title"
                  v-validate="'required'"
                  name="page-name"
                  data-vv-name="Título"
                  :class="{ 'is-invalid': errors.has('Título') }"
                  aria-describedby="input-1-live-feedback"
                />
                <b-form-invalid-feedback v-if="errors.has('Título')">
                  {{ errors.first("Título") }}
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                id="group-page-content"
                label="Contenido"
                label-for="page-content"
              >
                <ckeditor
                  id="page-content"
                  v-model="page.content"
                  v-validate="'required'"
                  :editor="editor"
                  :config="editorConfig"
                  name="page-content"
                  data-vv-name="Descripción"
                  :class="{ 'is-invalid': errors.has('Contenido') }"
                />
                <b-form-invalid-feedback v-if="errors.has('Contenido')">
                  {{ errors.first("Contenido") }}
                </b-form-invalid-feedback>
              </b-form-group>
              <b-form-group
                id="group-featured_image"
                label="Imagen destacada"
                label-for="course-featured_image"
              >
                <b-img
                  v-if="page.image"
                  thumbnail
                  fluid
                  :src="$imageUrl + page.image"
                  width="200"
                  class="mb-3 image-upload"
                />

                <fileUpload
                  :scope="'featured_image'"
                  :access="'public'"
                  @files="getFile"
                />

                <b-form-invalid-feedback v-if="errors.has('Imagen destacada')">
                  {{ errors.first("Programa") }}
                </b-form-invalid-feedback>
              </b-form-group>

              <b-form-group id="group-teacher" label="Estado" label-for="page">
                <v-select
                  id="page-status"
                  v-model="page.status"
                  v-validate="'required'"
                  name="page-status"
                  :options="pages_options"
                  :reduce="op => op.value"
                  placeholder="Seleccionar una opción"
                  data-vv-name="Estado"
                  :class="{ 'is-invalid': errors.has('Estado') }"
                />
                <b-form-invalid-feedback v-if="errors.has('Estado')">
                  {{ errors.first("Estado") }}
                </b-form-invalid-feedback>
              </b-form-group>

              <b-btn
                variant="primary"
                class="mt-4"
                size="lg"
                @click="handleSubmit()"
              >
                GUARDAR
              </b-btn>
            </b-col>
          </b-row>
        </b-form>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
const pages_options = [
  {
    value: "draft",
    label: "Borrador"
  },
  {
    value: "publish",
    label: "Publicada"
  }
];
import page from "../../services/page";
import file from "../../services/file";
import ClassicEditor from "@ckeditor/ckeditor5-build-classic";
import vSelect from "vue-select";
import fileUpload from "../../components/fileUpload";

const d = new Date();
const date = d.getDate();

export default {
  name: "AddCourse",
  components: {
    vSelect,
    fileUpload
  },
  data() {
    return {
      submitted: false,
      edit: false,
      page: {
        type: "page",
        category_id: [1],
        date: "2019-04-19 15:00:01"
      },
      pages_options: pages_options,
      files: {},
      editor: ClassicEditor,
      editorData: "",
      editorConfig: {}
    };
  },
  computed: {},
  async mounted() {
    let pageId = this.$route.params.id;
    if (pageId && pageId != "add") {
      try {
        this.page = await page.getPage(pageId);
        this.edit = true;
        if (this.page.image) {
          this.page.image_url =
            "http://api.caceglobal.org/api/files/view/" + this.page.image;
        }
      } catch (e) {
        this.$toaster.error(e);
      }
    }
  },
  methods: {
    getFile(value) {
      console.log(value);
      this.course.featured_image = value;
    },
    handleSubmit() {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.loading = true;
          if (this.edit == true) {
            this.edit();
          } else {
            this.save();
          }
        }
      });
    },
    onFileChange(e) {
      console.log(e);
      this.files = e.target.files[0];
    },
    async uploadImage() {
      try {
        const config = {
          headers: { "content-type": "multipart/form-data" }
        };
        let formData = new FormData();
        formData.append("file", this.files);
        formData.append("name", this.course_id);
        formData.append("access", "public");
        const uploadedImage = await file.addFile(formData, config);
        this.page.image = uploadedImage.filename;
        this.$toaster.success("Imagen guardada");
      } catch (e) {
        this.$toaster.error(e);
      }
    },
    async save() {
      try {
        const savePage = await page.addPage(this.page);
        console.log(savePage);
        this.$toaster.success("Sede guardada");
        this.$router.push("/pages");
      } catch (e) {
        console.log(e);
        console.log("error");
        this.$toaster.error(e);
      }
    }
  }
};
</script>

<style scoped></style>
