<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form>
                  <h1>Recuperar contraseña</h1>
                  <p class="text-muted">
                    Ingresa tu email
                  </p>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend>
                      <b-input-group-text
                        ><i class="icon-user"
                      /></b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input
                      v-model="user.email"
                      type="text"
                      class="form-control"
                      placeholder="Username"
                      autocomplete="username email"
                    />
                  </b-input-group>
                  <b-row>
                    <b-col cols="6">
                      <b-button
                        variant="primary"
                        class="px-4"
                        @click="handleSubmit()"
                      >
                        Enviar
                      </b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
            <b-card
              no-body
              class="text-white bg-primary py-5 d-md-down-none"
              style="width:44%"
            >
              <b-card-body class="text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <b-button variant="primary" class="active mt-3">
                    Register Now!
                  </b-button>
                </div>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import user from "../../services/user";

export default {
  name: "Ingresar",
  data() {
    return {
      user: {
        email: "",
        password: ""
      },
      error: "",
      loading: false,
      submitted: false
    };
  },
  methods: {
    handleSubmit() {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.loading = true;
          this.submit();
        } else {
          this.$toaster.error("Completá los campos");
        }
      });
    },
    async submit() {
      try {
        const response = await user.login(this.user);
        localStorage.access_token = response.access_token;
        this.$router.push("/home");
      } catch (e) {
        this.loading = false;
        let errors = e.response.data.error;
        if (errors == "Unauthorized") {
          this.$toaster.error("El email o la contraseña son incorrectos");
        } else {
          this.$toaster.error("Error de conexión");
        }
      }
    }
  }
};
</script>
