<template>
  <div className="animated">
    <b-card>
      <b-card-header>
        <span v-if="edit">Editar docente</span>
        <span v-else>Nuevo docente</span>
        <div v-if="edit" class="card-header-actions">
          <router-link to="/Teachers/add" class="btn btn-primary">
            AGREGAR DOCENTE
          </router-link>
        </div>
      </b-card-header>
      <b-card-body>
        <b-col xl="6">
          <form @submit="handleSubmit">
            <b-form-group
              id="group-teacher-name"
              label="Nombre"
              label-for="teacher-name"
            >
              <b-form-input
                id="teacher-name"
                v-model="teacher.name"
                v-validate="'required'"
                name="teacher-name"
                data-vv-name="Nombre"
                :class="{ 'is-invalid': errors.has('Nombre') }"
                aria-describedby="input-1-live-feedback"
              />
              <b-form-invalid-feedback v-if="errors.has('Nombre')">
                {{ errors.first("Nombre") }}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              id="group-teacher-email"
              label="Email"
              label-for="teacher-email"
            >
              <b-form-input
                id="teacher-email"
                v-model="teacher.email"
                v-validate="'required|email'"
                type="email"
                name="teacher-email"
                data-vv-name="Email"
                :class="{ 'is-invalid': errors.has('Email') }"
                aria-describedby="input-1-live-feedback"
              />
              <b-form-invalid-feedback v-if="errors.has('Email')">
                {{ errors.first("Email") }}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              id="group-teacher-phone"
              label="Teléfono"
              label-for="teacher-phone"
            >
              <b-form-input
                id="teacher-phone"
                v-model="teacher.phone"
                v-validate="'required|phone'"
                type="tel"
                name="teacher-phone"
                data-vv-name="Teléfono"
                :class="{ 'is-invalid': errors.has('Teléfono') }"
                aria-describedby="input-1-live-feedback"
              />
              <b-form-invalid-feedback v-if="errors.has('Teléfono')">
                {{ errors.first("Teléfono") }}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              id="group-teacher-resume"
              label="Resumen de CV"
              label-for="teacher-resume"
            >
              <b-form-textarea
                id="teacher-resume"
                v-model="teacher.resume"
                v-validate="'required'"
                name="teacher-resume"
                data-vv-name="Email"
                :class="{ 'is-invalid': errors.has('Cv resumido') }"
                aria-describedby="input-1-live-feedback"
              />
              <b-form-invalid-feedback v-if="errors.has('Cv resumido')">
                {{ errors.first("Cv resumido") }}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              id="group-teacher-cv"
              label="Cv completo"
              label-for="teacher-cv"
            >
              <fileUpload :access="'public'" :scope="'file'" @files="getFile" />
              <b-form-invalid-feedback v-if="errors.has('Cv completo')">
                {{ errors.first("Cv completo") }}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group
              id="group-teacher-image"
              label="Foto"
              label-for="teacher-image"
            >
              <fileUpload
                :access="'public'"
                :scope="'image'"
                @files="getImage"
              />
              <b-form-invalid-feedback v-if="errors.has('Cv completo')">
                {{ errors.first("Cv completo") }}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-btn
              variant="primary"
              size="lg"
              class="mt-4"
              @click="handleSubmit()"
            >
              GUARDAR
            </b-btn>
          </form>
        </b-col>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import Vue from "vue";
//import {mapState} from 'vuex';
import teacher from "../../services/teacher";
import course from "../../services/course";
import file from "../../services/file";
import fileUpload from "../../components/fileUpload";

export default {
  name: "Courses",
  components: {
    fileUpload
  },
  data() {
    return {
      edit: false,
      teacher: {}
    };
  },
  async mounted() {
    let teacherId = this.$route.params.id;
    if (teacherId != "" && teacherId != "add") {
      this.edit = true;
      this.teacher = await teacher.getTeacher(teacherId);
    }
  },
  methods: {
    handleSubmit() {
      if (this.edit == true) {
        this.editTeachers();
      } else {
        this.saveTeachers();
      }
    },
    async saveTeachers() {
      try {
        const saveTeacher = await teacher.addTeacher(this.teacher);
        this.$toaster.success("Docente guardado");
        this.$router.push("/teachers");
      } catch (e) {
        //this.$toaster.error(e);
        console.log(e);
        console.log("error");
      }
    },
    getFile(value) {
      console.log(value);
      this.teacher.cv_url = value;
    },
    getImage(value) {
      console.log(value);
      this.teacher.avatar = value;
    },
    async editTeachers() {
      try {
        let teacherId = this.$route.params.id;
        await teacher.editTeacher(teacherId, this.teacher);
        this.$toaster.success("Usuario guardado");
        this.$router.push("/teachers");
      } catch (e) {
        this.$toaster.error(e);
        console.log(e);
        console.log("error");
      }
    }
  }
};
</script>

<style lang="scss"></style>
