<template>
  <b-form enctype="multipart/form-data" @submit.prevent="uploadFile">
    <b-form-group id="group-category-image" label-for="category-image">
      <!--<b-form-file multiple @change="onFileChange"></b-form-file>-->

      <input type="file" multiple class="" @change="onFileChange" />

      <button v-if="loading" type="button" class="btn btn-info" disabled>
        <i class="fas fa-spinner fa-spin" />
        Cargando
      </button>

      <button v-else type="submit" class="btn btn-success">
        <i class="fa fa-arrow-up" aria-hidden="true" />
        Subir
      </button>
    </b-form-group>
  </b-form>
</template>

<script>
import file from "../services/file";

export default {
  name: "FileUpload",
  props: ["files", "scope", "access", "course_id", "material"],
  data() {
    return {
      file: "",
      image: "",
      image_url: "",
      file_scope: "",
      file_url: "",
      loading: false
    };
  },
  methods: {
    onFileChange(e) {
      this.file = e.target.files[0];
      console.log(this.files);
    },
    async uploadFile() {
      this.loading = true;
      if (!this.access) {
        this.access = "public";
      }
      try {
        const config = {
          headers: { "content-type": "multipart/form-data" }
        };
        let formData = new FormData();
        formData.append("file", this.file);
        formData.append("name", this.file.name);
        formData.append("access", this.access);
        formData.append("scope", this.scope);

        if (this.course_id !== undefined && this.course_id !== "") {
          formData.append("course_id", this.course_id);
        }
        const uploadedImage = await file.addFile(formData, config);

        //this.files = uploadedImage.filename;
        this.$emit("files", uploadedImage.filename);

        this.image = uploadedImage.filename;
        this.image_url =
          "http://api.caceglobal.org/api/files/view/" + this.image;
        this.file_scope = this.scope;
        this.file_url =
          "http://api.caceglobal.org/api/files/view/" + this.scope;

        this.loading = false;
        this.$toaster.success("Archivo guardado");
      } catch (e) {
        this.$toaster.error(e);
      }
    }
  }
};
</script>

<style scoped></style>
