<template>
  <b-form-group
    id="group-user-address"
    label="Dirección"
    label-for="user-address"
  >
    <b-form-input
      :id="name"
      v-model="input"
      v-validate="'required'"
      :name="name"
      data-vv-name="Phone"
      :class="{ 'is-invalid': errors.has('Dirección') }"
      aria-describedby="input-1-live-feedback"
    />
    <b-form-invalid-feedback v-if="errors.has('Dirección')">
      {{ errors.first("Dirección") }}
    </b-form-invalid-feedback>
  </b-form-group>
</template>

<script>
export default {
  name: "Input"
};
</script>

<style scoped></style>
