<template>
  <b-form enctype="multipart/form-data" @submit.prevent="handleSubmit">
    <b-form-group id="group-category-image" label-for="category-image">
      <b-form-group
        id="group-course-video-name-name"
        label="Video"
        label-for="course-video-name"
        description="Link al video de Vimeo"
      >
        <b-form-input
          id="course-video-name"
          v-model="video"
          v-validate="'required'"
          name="course-video-name"
          data-vv-name="video"
          :class="{ 'is-invalid': errors.has('video') }"
          aria-describedby="input-1-live-feedback"
        />
        <b-form-invalid-feedback v-if="errors.has('video')">
          {{ errors.first("video") }}
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group
        id="group-course-video-name"
        label="Nombre del video"
        label-for="course-video-name"
        description="Una descripción para que puedan identificarlo fácilmente"
      >
        <b-form-input
          id="course-video-name"
          v-model="name"
          v-validate="'required'"
          name="course-video-name"
          data-vv-name="Nombre"
          :class="{ 'is-invalid': errors.has('Nombre') }"
          aria-describedby="input-1-live-feedback"
        />
        <b-form-invalid-feedback v-if="errors.has('Nombre')">
          {{ errors.first("Nombre") }}
        </b-form-invalid-feedback>
      </b-form-group>

      <button v-if="loading" type="button" class="btn btn-info" disabled>
        <i class="fas fa-spinner fa-spin" />
        Cargando
      </button>

      <button v-else type="submit" class="btn btn-success">
        <i class="fa fa-arrow-up" aria-hidden="true" />
        Subir
      </button>
    </b-form-group>
  </b-form>
</template>

<script>
import file from "../services/file";

export default {
  name: "FileUpload",
  props: ["files", "scope", "access", "course_id"],
  data() {
    return {
      video: "",
      name: "",

      loading: false
    };
  },
  methods: {
    handleSubmit() {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.loading = true;
          this.uploadVideo();
        } else {
          this.$toaster.error("Completa todos los campos");
        }
      });
    },
    onFileChange(e) {
      this.file = e.target.files[0];
      console.log(this.files);
    },
    async uploadVideo() {
      this.loading = true;
      if (!this.access) {
        this.access = "public";
      }
      try {
        const config = {
          headers: { "content-type": "multipart/form-data" }
        };
        let formData = new FormData();
        formData.append("url", this.video);
        formData.append("name", this.name);
        formData.append("access", this.access);
        formData.append("scope", "video");
        formData.append("course_id", this.course_id);
        const uploadedImage = await file.addFile(formData, config);

        //this.files = uploadedImage.filename;
        this.$emit("files", uploadedImage.filename);

        this.loading = false;
        this.video = "";
        this.name = "";

        this.$toaster.success("Archivo guardado");
      } catch (e) {
        this.$toaster.error(e);
      }
    }
  }
};
</script>

<style scoped></style>
