<template>
  <router-view />
</template>

<script>
export default {
  name: "App"
};
</script>

<style lang="scss">
// CoreUI Icons Set
@import "~@coreui/icons/css/coreui-icons.min.css";
@import "~bootstrap-vue/dist/bootstrap-vue.css";
@import "assets/scss/style";
</style>
