<template>
  <div className="animated">
    <b-card>
      <b-card-header>
        <span v-if="edit">Editar Usuario</span>
        <span v-else>Nuevo Usuario</span>
        <div class="card-header-actions">
          <router-link to="/users/add" class="btn btn-primary">
            AGREGAR USUARIO
          </router-link>
        </div>
      </b-card-header>
      <b-card-body>
        <b-col xl="6">
          <h3>Datos de la cuenta</h3>
          <b-form-group
            id="group-user-name"
            label="Nombre"
            label-for="user-name"
          >
            <b-form-input
              id="user-name"
              v-model="user.name"
              v-validate="'required'"
              name="user-name"
              data-vv-name="Nombre"
              :class="{ 'is-invalid': errors.has('Nombre') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-invalid-feedback v-if="errors.has('Nombre')">
              {{ errors.first("Nombre") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            id="group-user-email"
            label="Email"
            label-for="user-email"
          >
            <b-form-input
              id="user-email"
              v-model="user.email"
              v-validate="'required|email'"
              name="user-email"
              data-vv-name="Email"
              :class="{ 'is-invalid': errors.has('Email') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-invalid-feedback v-if="errors.has('Email')">
              {{ errors.first("Email") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group id="group-user-dni" label="DNI" label-for="user-dni">
            <b-form-input
              id="user-dni"
              v-model="user.dni"
              v-validate=""
              name="user-dni"
              data-vv-name="DNI"
              :class="{ 'is-invalid': errors.has('DNI') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-invalid-feedback v-if="errors.has('DNI')">
              {{ errors.first("DNI") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            id="group-user-phone"
            label="Teléfono"
            label-for="user-phone"
          >
            <b-form-input
              id="user-phone"
              v-model="user.phone"
              v-validate=""
              name="user-phone"
              data-vv-name="Phone"
              :class="{ 'is-invalid': errors.has('Teléfono') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-invalid-feedback v-if="errors.has('Teléfono')">
              {{ errors.first("Teléfono") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            id="group-user-address"
            label="Dirección"
            label-for="user-address"
          >
            <b-form-input
              id="user-address"
              v-model="user.address"
              v-validate=""
              name="user-address"
              data-vv-name="Dirección"
              :class="{ 'is-invalid': errors.has('Dirección') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-invalid-feedback v-if="errors.has('Dirección')">
              {{ errors.first("Dirección") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            id="group-user-city"
            label="Ciudad"
            label-for="user-city"
          >
            <b-form-input
              id="user-city"
              v-model="user.city"
              v-validate=""
              name="user-city"
              data-vv-name="Ciudad"
              :class="{ 'is-invalid': errors.has('Ciudad') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-invalid-feedback v-if="errors.has('Ciudad')">
              {{ errors.first("Ciudad") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            id="group-user-country"
            label="País"
            label-for="user-country"
          >
            <v-select
              id="user-country"
              v-model="user.country"
              v-validate=""
              name="user-country"
              :options="countries"
              :reduce="op => op.value"
              placeholder="Seleccionar una opción"
              data-vv-name="País"
              :class="{ 'is-invalid': errors.has('País') }"
            />
            <b-form-invalid-feedback v-if="errors.has('País')">
              {{ errors.first("País") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group id="group-user-role" label="Rol" label-for="user-role">
            <v-select
              id="user-role"
              v-model="user.role"
              v-validate=""
              name="user-role"
              :options="roles"
              :reduce="op => op.value"
              placeholder="Seleccionar una opción"
              data-vv-name="Rol"
              :class="{ 'is-invalid': errors.has('Rol') }"
            />
            <b-form-invalid-feedback v-if="errors.has('Rol')">
              {{ errors.first("Rol") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <hr />
          <h3 class="mt-4  pt-4">
            Estado
          </h3>
          <b-form-group
            id="group-user-status"
            label="Estado"
            label-for="user-status"
          >
            <b-form-checkbox
              id="checkbox-1"
              v-model="user.status"
              name="checkbox-1"
              value="active"
              unchecked-value="unactive"
            >
              <span v-if="user.status == 'active'">Activo</span>
              <span v-else>Desactivado</span>
            </b-form-checkbox>
            <b-form-invalid-feedback v-if="errors.has('Status')">
              {{ errors.first("Status") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <hr />
          <h3 class="mt-4  pt-4">
            Imagen de perfil
          </h3>
          <b-form-group
            id="group-user-profile_image"
            label="Imagen de perfil"
            label-for="user-profile_image"
          >
            <b-img
              v-if="user.profile_image"
              thumbnail
              fluid
              :src="$imageUrl + user.profile_image"
              width="200"
              class="mb-3"
            />
            <FileUpload
              :scope="'image'"
              :access="'public'"
              :course_id="''"
              @files="getProfile"
            />
            <b-form-invalid-feedback v-if="errors.has('Status')">
              {{ errors.first("Status") }}
            </b-form-invalid-feedback>
          </b-form-group>

          <hr />
          <h3 class="mt-4 pt-4">
            Contraseña
          </h3>
          <b-form-group
            id="group-user-password"
            label="Contraseña"
            label-for="user-password"
          >
            <b-form-input
              v-if="!edit"
              id="user-password"
              ref="password"
              v-model="user.password"
              v-validate="'required|min:8'"
              name="user-password"
              type="password"
              data-vv-name="Contraseña"
              :class="{ 'is-invalid': errors.has('Contraseña') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-input
              v-else
              id="user-password"
              ref="password"
              v-model="user.password"
              name="user-password"
              type="password"
              data-vv-name="Contraseña"
              :class="{ 'is-invalid': errors.has('Contraseña') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-invalid-feedback v-if="errors.has('Contraseña')">
              {{ errors.first("Contraseña") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group
            id="group-user-password_confirmation"
            label="Confirmar contraseña"
            label-for="user-password_confirmation"
          >
            <b-form-input
              v-if="!edit"
              id="user-password_confirmation"
              v-model="user.password_confirmation"
              v-validate="'required'"
              name="user-password_confirmation"
              type="password"
              data-vv-name="Confirmar contraseña"
              :class="{ 'is-invalid': errors.has('Confirmar contraseña') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-input
              v-else
              id="user-password_confirmation"
              v-model="user.password_confirmation"
              v-validate="1"
              name="user-password_confirmation"
              type="password"
              data-vv-name="Confirmar contraseña"
              :class="{ 'is-invalid': errors.has('Confirmar contraseña') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-invalid-feedback v-if="errors.has('Confirmar contraseña')">
              {{ errors.first("Confirmar contraseña") }}
            </b-form-invalid-feedback>
          </b-form-group>
          <hr />
          <h3 class="mt-4  pt-4">
            Datos profesionales
          </h3>

          <b-form-group
            id="group-user-profession"
            label="Profesion"
            label-for="user-profession"
          >
            <b-form-input
              id="user-profession"
              v-model="user.profession"
              v-validate="''"
              name="user-profession"
              data-vv-name="Profesion"
              :class="{ 'is-invalid': errors.has('Profesion') }"
              aria-describedby="input-1-live-feedback"
            />
            <b-form-invalid-feedback v-if="errors.has('Profesion')">
              {{ errors.first("Profesion") }}
            </b-form-invalid-feedback>
          </b-form-group>

          <b-btn
            v-if="user.id"
            variant="primary"
            class="mt-4"
            size="lg"
            @click="handleSubmit()"
          >
            EDITAR
          </b-btn>

          <b-btn
            v-else
            variant="primary"
            class="mt-4"
            size="lg"
            @click="handleSubmit()"
          >
            GUARDAR
          </b-btn>
        </b-col>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import Vue from "vue";
//import {mapState} from 'vuex';
import user from "../../services/user";
import course from "../../services/course";
import external from "../../services/external";
import vSelect from "vue-select";
import FileUpload from "../../components/fileUpload";
const roles = [
  { value: "admin", label: "Administrador" },
  { value: "editor", label: "Editor" },
  { value: "comercial", label: "Comercial" },
  { value: "seller", label: "Vendedor" },
  { value: "multimedia", label: "Editor multimedia" },
  { value: "user", label: "user" }
];
export default {
  name: "Courses",
  components: {
    vSelect,
    FileUpload
  },
  data() {
    return {
      edit: false,
      user: {
        status: "active"
      },
      countries: [],
      roles: roles
    };
  },
  async mounted() {
    let userId = this.$route.params.id;
    console.log(userId);
    if (userId) {
      this.edit = true;
      this.user = await user.getUser(userId);
    }

    const allCountries = await external.getCountries();
    for (let i = 0; i < allCountries.length; i++) {
      this.countries.push({
        value: allCountries[i].name,
        label: allCountries[i].name
      });
    }
  },
  methods: {
    getProfile(value) {
      console.log(value);
      this.user.profile_image = value;
    },
    handleSubmit() {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.loading = true;
          if (this.edit != true) {
            this.saveUser();
          } else {
            this.editUser();
          }
        } else {
          this.$toaster.error("Completa todos los campos");
        }
      });
    },
    async saveUser() {
      try {
        await user.addUser(this.user);
        this.$toaster.success("Usuario guardado");
        this.$router.push("/users");
      } catch (e) {
        console.log(e);
      }
    },
    async editUser() {
      const _this = this;
      let userId = this.$route.params.id;
      await user.editUser(userId, this.user).then(function(response) {
        _this.$toaster.success("Usuario guardado");
        _this.$router.push("/users");
      });
    }
  }
};
</script>

<style lang="scss"></style>
